@import "../Mixin.scss";
@import "../Function.scss";

.#{getKW(Table)} {
    @include table();

    &.clean {
        border: none;

        td {
            border: none;
        }
    }

    @each $name, $val in $colorProfiles {
        $name: lower($name);
        $color: rgba(map-get($val, Primary), 0.4);

        &.cp-#{$name} {
            td {
                border-color: $color;
            }

            &.alternate, &-#{$name + "-alternate"} {
                @include tableAlternate($name);

                tr:nth-child(even) {
                    @if (equal($name, Light)) {
                        background-color: #ededed;
                    }
                }
            }
        }

        &-#{$name} {
            @include table($name);
        }

        &-#{lower($name) + "-alternate"} {
            @include table($name);

            tr:nth-child(even) {
                background-color: color($name, Fifth);
            }
        }
    }
    
    &.#{auto}, &-#{auto} {
        display: table;

        @include marginAuto();
    }
}