@import "../Mixin.scss";
@import "../Function.scss";

.#{getKW(Responsive)} {
    @include responsive(true, false);

    &.full-height {
        height: 100%;
    }

    &.center {
        @include autoMargin();
    }

    &-center {
        @include responsive(true);

        &-full-height {
            @include responsive(true);
            height: 100%;
        }
    }
}

.#{getKW(BG-Cover)} {
    @include bgCover();

    &.fixed, &-fixed {
        @include bgCover(true);
    }
}

.fixed.top, .fixed-top {
    position: fixed;
    top: 0;
    bottom: unset;
    left: 0;
    right: 0;
}

.fixed.bottom, .fixed-bottom {
    position: fixed;
    top: unset;
    left: 0;
    right: 0;
    bottom: 0;
}

.fixed.left, .fixed-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: unset;
}

.fixed.right, .fixed-right {
    position: fixed;
    top: 0;
    bottom: 0;
    left: unset;
    right: 0;
}

.float.left, .float-left {
    float: left;
}

.float.right, .float-right {
    float: right;
}

.hide, .close, .invisible {
    display: none;
}

.show, .block, .visible {
    display: block;
}

.position {
    &-relative {
        position: relative;
    }

    &-absolute {
        position: absolute;
    }

    &-fixed {
        position: fixed;
    }

    &-static {
        position: static;
    }

    &-sticky {
        position: sticky;
    }

    &-center {
        position: center;
    }

    &-page {
        position: page;
    }
}

@for $i from 1 through 9 {
    .o-#{$i} {

        @if ($i == 1) {
            opacity: 1;
        }
        @else {
            opacity: #{"0." + $i};
        }
    }
}