@import "../Mixin.scss";
@import "../Function.scss";

.#{getKW(BG-Cover)} {
    @include bgCover();

    &.#{getKW(Fixed)}, &-#{getKW(Fixed)} {
        @include bgCover(true);
    }
}

.#{getKW(Fixed)}.top, .#{getKW(Fixed)}-top {
    position: fixed;
    top: 0;
    bottom: unset;
    left: 0;
    right: 0;
}

.#{getKW(Fixed)}.bottom, .#{getKW(Fixed)}-bottom {
    position: fixed;
    top: unset;
    left: 0;
    right: 0;
    bottom: 0;
}

.#{getKW(Fixed)}.left, .#{getKW(Fixed)}-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: unset;
}

.#{getKW(Fixed)}.right, .#{getKW(Fixed)}-right {
    position: fixed;
    top: 0;
    bottom: 0;
    left: unset;
    right: 0;
}

.#{getKW(Float)}.left, .#{getKW(Float)}-left {
    float: left;
}

.#{getKW(Float)}.right, .#{getKW(Float)}-right {
    float: right;
}

.#{getKW(Hide)}, .#{getKW(Close)}, .#{getKW(Invisible)} {
    display: none;
}

.#{getSys(Show)}, .#{getSys(Block)}, .#{getSys(Visible)} {
    display: block;
}

@for $i from 1 through 9 {
    .o-#{$i} {

        @if ($i == 1) {
            opacity: 1;
        }
        @else {
            opacity: #{"0." + $i};
        }
    }
}