@import "Variables.scss";
@import "../Function.scss";

.flex {
    display: flex;

    &.wrap, &-wrap {
        flex-wrap: wrap;
    }

    &.no-wrap, &-flex-no-wrap {
        flex-wrap: nowrap;
    }

    &.reverse, &-reverse {
        flex-wrap: wrap-reverse;
    }

    &.even, &-even {
        justify-content: space-around;
        align-items: stretch;
        align-content: center;

        & > * {
            flex: 1 1 auto;
        }
    }

    @each $justVal in $flexJustifyItems {
        $just: $justVal;

        @if (equal($justVal, "Flex-Start")) {
            $just: "start";
        }
        @else if (equal($justVal, "Flex-End")) {
            $just: "end";
        }

        &-#{lower($just)} {
            display: flex;
            justify-content: lower($justVal);

            @each $algnVal in $flexAlignItems {
                $align: $algnVal;

                @if (equal($algnVal, "Flex-Start")) {
                    $align: "start";
                }
                @else if (equal($algnVal, "Flex-End")) {
                    $align: "end";
                }

                &-#{lower($align)} {
                    display: flex;
                    justify-content: lower($justVal);
                    align-items: lower($algnVal);
                }
            }
        }
    }
}