@import "../Mixin.scss";
@import "../Function.scss";

@each $name, $val in $colorProfiles {
    $name: lower($name);
    $color: rgba(color($name, Primary), 0.6);

    .#{"table" + "-" + $name} {
        @include table($name, false);
        @include tableTd($name);

        &.airy {
            @include tableTd($name, true);

            &.fat {
                @include tableTd($name, true, true);

                &.clean {
                    @include tableTd($name, true, true, false);

                    &.alternating {
                        @include tableAlternate($name);
                    }
                }

                &.alternating {
                    @include tableAlternate($name);
                }
            }

            &.clean {
                @include tableTd($name, true, false, false);
            }

            &.alternating {
                @include tableAlternate($name);
            }
        }

        &-airy {
            @include table($name, false, true);
            @include tableTd($name, true);

            &-fat {
                @include table($name, false);
                @include tableTd($name, true, true);

                &-clean {
                    @include table($name, false);
                    @include tableTd($name, true, true, false);

                    &-alternating {
                        @include table($name, false);
                        @include tableTd($name, true, true, false);
                        @include tableAlternate($name);
                    }
                }

                &-alternating {
                    @include table($name, false, true, true);
                    @include tableTd($name, true, true);
                    @include tableAlternate($name);
                }
            }

            &-clean {
                @include table($name, false);
                @include tableTd($name, true, false, false);

                &-alternating {
                    @include table($name, false, true, true);
                    @include tableTd($name, true, true);
                    @include tableAlternate($name);
                }
            }

            &-alternating {
                @include table($name, false, true);
                @include tableTd($name, true);
                @include tableAlternate($name);
            }
        }

        &.clean {
            @include tableTd($name, false, false, false);

            &.alternating {
                @include tableAlternate($name);
            }
        }

        &-clean {
            @include table($name, false);
            @include tableTd($name, false, false, false);

            &-alternating {
                @include table($name, false);
                @include tableTd($name, false, false, false);
                @include tableAlternate($name);
            }
        }

        &.fat {
            @include tableTd($name, false, true);

            &.alternating {
                @include tableAlternate($name);
            }

            &.clean {
                @include tableTd($name, false, true, false);

                &.alternating {
                    @include tableAlternate($name);
                }
            }
        }

        &-fat {
            @include table($name, false, false, true);
            @include tableTd($name, false, true);

            &-alternating {
                @include table($name, false);
                @include tableTd($name, false, true);
                @include tableAlternate($name);
            }

            &-clean {
                @include table($name, false);
                @include tableTd($name, false, true, false);

                &-alternating {
                    @include table($name, false);
                    @include tableTd($name, false, true, false);
                    @include tableAlternate($name);
                }
            }
        }

        &.alternating {
            @include tableAlternate($name);
        }

        &-alternating {
            @include table($name, false);
            @include tableTd($name);
            @include tableAlternate($name);
        }
    }

    .#{getKW(Font) + "-black"} td {
        color: black;
    }
}