@import "../SharedVariables.scss";
@import "../Function.scss";
@import "../Media.scss";

$padDirections: (Left, Top, Right, Bottom, LeftRight, TopBottom);

.pad {
    padding: $defaultPad;
}

.mrg {
    margin: $defaultPad;
}

.pad-mrg-clean {
    padding: initial;
    margin: initial;
}

.pad-clean {
    padding: initial;
}

.pad-doc {
    padding: $defaultPad;
}

.mrg {
    &.clean, &-clean {
        margin: initial;
    }

    &.auto, &-auto {
        margin-left: auto;
        margin-right: auto;
    }
}

@each $name in $systemSizes {
    $name: upper($name);

    .pad-#{lower($name)} {
        $pad: pad($name);
        
        padding: $pad;

        @each $dir in $padDirections {
            &.#{lower($dir)}, &-#{lower($dir)} {
                $dir: upper($dir);

                @if (equal($dir, "Left")) {
                    padding-left: $pad;
                }
                @else if (equal($dir, "Top")) {
                    padding-top: $pad;
                }
                @else if (equal($dir, "Right")) {
                    padding-right: $pad;
                }
                @else if (equal($dir, "Bottom")) {
                    padding-bottom: $pad;
                }
                @else if (equal($dir, "LeftRight")) {
                    padding-left: $pad;
                    padding-right: $pad;
                }
                @else if (equal($dir, "TopBottom")) {
                    padding-top: $pad;
                    padding-bottom: $pad;
                }
            }
        }
    }

    .mrg-#{lower($name)} {
        $mrg: pad($name);

        margin: $mrg;

        @each $dir in $padDirections {
            $dir: upper($dir);

            &.#{lower($dir)}, &-#{lower($dir)} {
                @if (equal($dir, "Left")) {
                    margin-left: $mrg;
                }
                @else if (equal($dir, "Top")) {
                    margin-top: $mrg;
                }
                @else if (equal($dir, "Right")) {
                    margin-right: $mrg;
                }
                @else if (equal($dir, "Bottom")) {
                    margin-bottom: $mrg;
                }
                @else if (equal($dir, "LeftRight")) {
                    margin-left: $mrg;
                    margin-right: $mrg;
                }
                @else if (equal($dir, "TopBottom")) {
                    margin-top: $mrg;
                    margin-bottom: $mrg;
                }
            }
        }
    }
}

@each $mediaName, $size in $mediaBreakpoints {
    @each $name in $systemSizes {
        .pad-#{lower($mediaName)}-#{lower($name)} {
            padding: unset;
        }
    }
}

@each $mediaName, $size in $mediaBreakpoints {
    @each $name in $systemSizes {
        .mrg-#{lower($mediaName)}-#{lower($name)} {
            padding: unset;
        }
    }
}

@each $mediaName, $size in $mediaBreakpoints {
    @each $name in $systemSizes {
        @include media($mediaName) {
            .pad-#{lower($mediaName)}-#{lower($name)}, {
                padding: pad($name);
            }
        }
    }
}

@each $mediaName, $size in $mediaBreakpoints {
    @each $name in $systemSizes {
        @include media($mediaName) {
            .mrg-#{lower($mediaName)}-#{lower($name)}, {
                padding: pad($name);
            }
        }
    }
}