@import "../SharedVariables.scss";
@import "../Function.scss";
@import "../Media.scss";

.row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);

    & > div[class^='col-'] {
        grid-row: auto;
        grid-column: 1;
    }
}

@each $size in $systemSizes {
    @include media($size) {
        @for $c from 1 through 12 {
            .col-#{lower($size)}-#{$c} {
                $span: $c;

                grid-row: 1 !important;
                grid-column: auto / span $span !important;
                padding: 6px;
            }
        }
    }
}

@include media(SM) {
    .row {
        grid-template-columns: repeat(12, 1fr);
    }
}