@import "../Layout/Variables.scss";
@import "../Function.scss";
@import "../Media.scss";

$airyHeadMargin: 12px;

@each $size, $s in $headSizes {
    .h#{$size} {
        font-size: $s;
        margin: 0px;

        &.bold {
            font-weight: bold;
        }

        &.airy {
            margin: $airyHeadMargin;
        }

        &-airy {
            font-size: $s;
            margin: $airyHeadMargin;
        }
    }
}

@include media() {
    @each $size, $s in $headMdSizes {
        .h#{$size} {
            font-size: $s;

            &-airy {
                font-size: $s;
            }
        }
    }
}

@each $size, $val in $fontSizes {
    .font-#{lower($size)} {
        font-size: $val;
    }
}

.align {
    &.left, &-left {
        text-align: left;
    }

    &.right, &-right {
        text-align: right;
    }

    &.center, &-center {
        text-align: center;
    }
}