@import "../MapsAndList.scss";
@import "../Function.scss";
@import "Mixin.scss";

.flex {
    &-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &-no-wrap {
        display: flex;
        flex-wrap: nowrap;
    }

    &-reverse {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    &-even {
        display: flex;

        @include flexEven();
    }

    @each $show, $full in $flexJustifyItems {
        $just: null;

        @if (equal($full, Flex-Start)) {
            $just: "start";
        }
        @else if (equal($full, Flex-End)) {
            $just: "end";
        }
        @else {
            $just: $full;
        }

        &-#{$just} {
            display: flex;
            justify-content: lower($full);

            @each $alignName, $alignVal in $flexAlignItems {
                @if (equal($alignVal, Flex-Start)) {
                    $align: "start";
                }
                @else if (equal($alignVal, Flex-End)) {
                    $align: "end";
                }

                &-#{lower($alignName)} {
                    display: flex;
                    justify-content: lower($just);
                    align-items: lower($alignVal);
                }
            }
        }
    }
}