@import "../MapsAndList.scss";
@import "../Function.scss";

@each $name, $val in $widthSizes {
    .#{"width-" + lower($name)} {
        width: $val;

        @each $n, $v in $airyValues {
            &.#{"airy-" + lower($n)} {
                margin: $v;
            }

            &-#{"airy-" + lower($n)} {
                width: $val;
                margin: $v;
            }

            @if (equal($n, MD)) {
                &.airy {
                    margin: $v;
                }

                &-airy {
                    width: $val;
                    margin: $v;
                }
            }
        }
    }
}