@import "../Function.scss";
@import "../MapsAndList.scss";

.#{getKW(Airy)} {
    text-align: left;
}

.align {
    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }

    &-vertical {
        &-top {
            position: absolute;
            top: 0;
        }

        &-center {
            position: absolute;
            top: 48%;
        }

        &-bottom {
            position: absolute;
            bottom: 0;
        }
    }
}