@import "../Function.scss";
@import "../MapsAndList.scss";

.airy {
    margin: getAiry();
}

@each $n, $v in $airyValues {
    .#{"airy-" + lower($n)} {
        margin: $v;
    }
}

.align {
    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }

    &-vertical {
        &-top {
            position: absolute;
            top: 0;
        }

        &-center, &-center-50 {
            position: absolute;
            top: 50%;
        }

        &-center-25 {
            position: absolute;
            top: 25%;
        }

        &-center-75 {
            position: absolute;
            top: 75%;
        }

        &-bottom {
            position: absolute;
            bottom: 0;
        }
    }
}