@import "../Function.scss";
@import "../Media.scss";
@import "../MapsAndList.scss";
@import "../Mixin.scss";
@import "Mixin.scss";

.airy {
    margin: getAiry();
}

@each $n, $v in $airyValues {
    .#{"airy-" + lower($n)} {
        margin: $v;
    }
}

.align {
    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }

    &-vertical {
        &-top {
            position: absolute;
            top: 0;
        }

        &-center, &-center-50 {
            position: absolute;
            top: 50%;
        }

        &-center-25 {
            position: absolute;
            top: 25%;
        }

        &-center-75 {
            position: absolute;
            top: 75%;
        }

        &-bottom {
            position: absolute;
            bottom: 0;
        }
    }
}

@each $name, $val in $widthSizes {
    .#{"width-" + lower($name)} {
        width: $val;

        @each $n, $v in $airyValues {
            &.#{"airy-" + lower($n)} {
                margin: $v;
            }

            &-#{"airy-" + lower($n)} {
                width: $val;
                margin: $v;
            }

            @if (equal($n, MD)) {
                &.airy {
                    margin: $v;
                }

                &-airy {
                    width: $val;
                    margin: $v;
                }
            }
        }
    }
}

.#{getKW(Responsive)} {
    @include responsive(true, false);

    &-full-height {
        @include responsive(true, false);
        height: 100%;

        &-center {
            @include responsive(true);
            height: 100%;
        }
    }

    &-center {
        @include responsive(true);
    }
}

.container {
    @include responsive(true, false, true);

    &-clean {
        @include responsive(true, false, false);
    }

    &-auto {
        @include responsive(true, true, true);

        &-clean {
            @include responsive(true, true, false);
        }
    }

    &-full {
        @include responsive(false, false, true);

        &-clean {
            @include responsive(false, false, false);
        }
    }
}

.#{getKW(BG-Cover)} {
    @include bgCover();

    &.fixed, &-fixed {
        @include bgCover(true);
    }
}

.fixed.top, .fixed-top {
    position: fixed;
    top: 0;
    bottom: unset;
    left: 0;
    right: 0;
}

.fixed.bottom, .fixed-bottom {
    position: fixed;
    top: unset;
    left: 0;
    right: 0;
    bottom: 0;
}

.fixed.left, .fixed-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: unset;
}

.fixed.right, .fixed-right {
    position: fixed;
    top: 0;
    bottom: 0;
    left: unset;
    right: 0;
}

.float.left, .float-left {
    float: left;
}

.float.right, .float-right {
    float: right;
}

.hide, .close, .invisible {
    display: none;
}

.show, .block, .visible {
    display: block;
}

.position {
    &-relative {
        position: relative;
    }

    &-absolute {
        position: absolute;
    }

    &-fixed {
        position: fixed;
    }

    &-static {
        position: static;
    }

    &-sticky {
        position: sticky;
    }

    &-center {
        position: center;
    }

    &-page {
        position: page;
    }
}

@for $i from 1 through 9 {
    .o-#{$i} {

        @if ($i == 1) {
            opacity: 1;
        }
        @else {
            opacity: #{"0." + $i};
        }
    }
}

@include head(true);

@include media() {
    @include head();
}

.clean {
    padding: unset;
}

.clean-mrg {
    margin: unset;
}

.clean-all {
    padding: unset;
    margin: unset;
}

.bg {
    &-white {
        background-color: white;
    }

    &-black {
        background-color: white;
    }

    @each $n, $v in $colorProfiles {
        &-#{lower($n)} {
            background-color: color($n);
        }
    }
}

.color {
    &-white {
        color: white;
    }

    &-black {
        color: black;
    }

    @each $n, $v in $colorProfiles {
        &-#{lower($n)} {
            color: color($n);
        }
    }
}

.border {
    &-white {
        border-color: white;
    }

    &-black {
        border-color: black;
    }

    @each $n, $v in $colorProfiles {
        &-#{lower($n)} {
            border-color: color($n);
        }
    }
}

.dis {
    &-table {
        display: table;
    }

    &-inline-table {
        display: inline-table;
    }

    &-block {
        display: block;
    }

    &-inline-block {
        display:  inline-block;
    }

    &-normal {
        display: normal;
    }

    &-none {
        display: none;
    }
}

.#{getKW(WhiteSpace)} {
    &-nowrap {
        white-space: nowrap;
    }

    &-normal {
        white-space: normal;
    }

    &-pre {
        white-space: pre;
    }

    &-normal {
        white-space: normal;
    }
}

.table-auto {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.fill {
    min-width: 100%;
    min-height: 100%;
}