@import "../Function.scss";
@import "../Mixin.scss";

.pad {
    &-clean {
        padding: $defaultPad;
        @include cleanBase(true, false, false);
    }

    &-mrg-clean {
        padding: $defaultPad;
        @include cleanBase();
    }

    &-doc {
        padding: $defaultPad;
        padding: $defaultPad;
    }
}

@each $n, $v in $padValues {
    .#{"pad-" + lower($n)} {
        padding: $v;

        &-clean {
            padding: $v;
            @include cleanBase(true, false, false);
        }

        &-mrg-clean {
            padding: $v;
            @include cleanBase();
        }
    }
}

.mrg {
    &-clean {
        margin: getMargin(SM);
        @include cleanBase(false, true, false);
    }

    &-auto {
        @include autoMargin();
    }

    &-clean-auto {
        margin: getMargin(SM);
        @include cleanBase(false, true, false);
        @include autoMargin();
    }

    @each $n, $v in $marginValues {
        $n: lower($n);

        &-#{$n} {
            margin: $v;
        }

        &-#{$n + "-left"} {
            margin-left: $v;
        }

        &-#{$n + "-right"} {
            margin-right: $v;
        }

        &-#{$n + "-top"} {
            margin-top: $v;
        }

        &-#{$n + "-bottom"} {
            margin-bottom: $v;
        }

        &-#{$n + "-both"} {
            margin-left: $v;
            margin-right: $v;
        }
    }
}