@import "../Function.scss";
@import "../Media.scss";

@each $n, $v in $headSyno {
    .#{getKW(Head) + $n} {
        font-size: getHead($v);

        &.bold {
            font-weight: bold;
        }

        &.airy {
            padding: $defaultPad;
        }
    }

    @each $mN, $mV in $mediaBreakpoints {
        @include media($mN) {
            .#{getKW(Head) + $n + "-" + lower($mN)} {
                font-size: getHead($v);

                &.bold {
                    font-weight: bold;
                }

                &.airy {
                    padding: $defaultPad;
                }
            }
        }
    }
}

@each $size, $val in $fontSizes {
    .#{getKW(Font) + "-" + $size} {
        font-size: $val;
    }

    @each $s, $v in $mediaBreakpoints {
        @include media($s) {
            .#{getKW(Font) + "-" + $size + "-" + lower($s)} {
                font-size: $val;
            }
        }
    }
}