@import "../Function.scss";
@import "../Media.scss";

$airy: getKW(Airy);

@each $size, $s in $headSizes {
    .#{getKW(Font) + "-" + lower($size)} {
        font-size: $s;

        @each $aN, $aV in $airyValues {
            &-#{$airy + "-" + lower($aN)} {
                font-size: $s;
                margin: $aV;
            }
        }

        @each $aN, $aV in $airyValues {
            &-#{$airy + "-" + lower($aN) + "-bold"} {
                font-size: $s;
                margin: $aV;
            }
        }
    }
}

@each $size, $val in $fontSizes {
    .#{getKW(Font) + "-" + lower($size)} {
        font-size: $val;
    }
}