$headSizes: (1: 2.6em, 2: 2.2em, 3: 1.8em, 4: 1.4em, 5: 1.2em, 6: 0.8em);
$headMdSizes: (1: 4em, 2: 3.4em, 3: 2.8em, 4: 2.2em, 5: 1.6em, 6: 1em);
$modalSizes: (XS: 210px, SM: 312px, MD: 420px, LG: 632px, XL: 826px);
$fontSizes: (XS: 0.8em, SM: 1em, MD: 1.6em, LG: 2.4em, XL: 3em);

$flexAlignItems: (Baseline, Center, Flex-End, Flex-Start, Stretch);
$flexJustifyItems: (Center, Flex-End, Flex-Start, Space-Around, Space-Between);

$gridItemSizes: (XS: 8px, SM: 60px, MD: 144px, LG: 366px, XL: 536px);
$gridGapSizes: (XS: 2px, SM: 4px, MD: 8px, LG: 16px, XL: 30px);