@import "..\\Shared\\Config";
@import "..\\Shared\\Function";
@import "..\\Shared\\Mixin";

.chapter {
  @each $name, $val in $CPs {
    &-#{lower($name)} {
      $borderColor: color($name);
      $color: $borderColor;

      padding: $defaultPad;
      border-radius: get(SYS, BorderRadius);
      margin: $defaultMargin;
      color: $color;

      & a {
        color: $color;

        &:hover {
          text-decoration: none;
          color: rgba($color, 0.8);
        }
      }

      &.glow {
        @include boxGlow($name, 18px, $name);
      }

      &.solid {
        border: 2px solid $borderColor;
      }
    }
  }

  & > .content {
    &-pre {
      padding: $defaultPad;
      background-color: color(Light, Third);
      border-radius: get(Sys, BorderRadius);

      & > .more-link {
        display: inline-block;
        font-weight: 600;

        &:hover {
          text-decoration: none;
          opacity: 0.8;
        }
      }
    }

    &-main {
      @each $s in $commonSizes {
        $p: get(Pad, $s);

        &-#{lower($s)} {
          padding: $p;
          display: none;
        }

        @if (equal($s, MD)) {
          padding: $p;
        }
      }
    }
  }

  & > .more.wrap {
    display: block;
  }
}
