@import "..\\Shared\\Config";
@import "..\\Shared\\Function";

.creator.icon {
    &.clickable {
        &:hover {
            cursor: pointer;
        }
    }

    & > .wrap {
        & > .label {
            margin-left: 6px;
        }

        @each $name, $val in $CPs {
            &-#{lower($name)} {
                color: color($name, Primary);
            }
        }
    }
}