.cp-default {
  color: black; }

.cp-default-second {
  color: #1f1f1f; }

.cp-default-third {
  color: #484848; }

.cp-default-fourth {
  color: #a1a1a1; }

.cp-default-fifth {
  color: #ececec; }

.cp-primary {
  color: #007bff; }

.cp-primary-second {
  color: #4ba1fe; }

.cp-primary-third {
  color: #74b7ff; }

.cp-primary-fourth {
  color: #a3cfff; }

.cp-primary-fifth {
  color: #d8ebff; }

.cp-disabled {
  color: #959595; }

.cp-disabled-second {
  color: #777777; }

.cp-disabled-third {
  color: #969696; }

.cp-disabled-fourth {
  color: #b4b4b4; }

.cp-disabled-fifth {
  color: #e0e0e0; }

.cp-success {
  color: #2a7e3e; }

.cp-success-second {
  color: #519d63; }

.cp-success-third {
  color: #70b982; }

.cp-success-fourth {
  color: #8cce9c; }

.cp-success-fifth {
  color: #c2e8cb; }

.cp-danger {
  color: #8c101b; }

.cp-danger-second {
  color: #a12d37; }

.cp-danger-third {
  color: #ca5660; }

.cp-danger-fourth {
  color: #ed7781; }

.cp-danger-fifth {
  color: #ffcacf; }

.cp-warning {
  color: #ffbf00; }

.cp-warning-second {
  color: #ffd24a; }

.cp-warning-third {
  color: #ffde7b; }

.cp-warning-fourth {
  color: #ffe9a6; }

.cp-warning-fifth {
  color: #fff2cb; }

.cp-info {
  color: #17b5d5; }

.cp-info-second {
  color: #40c3dd; }

.cp-info-third {
  color: #6ad1e5; }

.cp-info-fourth {
  color: #93d5e2; }

.cp-info-fifth {
  color: #cef7ff; }

.cp-light {
  color: #bebebe; }

.cp-light-second {
  color: #d6d6d6; }

.cp-light-third {
  color: #e7e7e7; }

.cp-light-fourth {
  color: #f4f4f4; }

.cp-light-fifth {
  color: white; }

.cp-dark {
  color: #3e3e3e; }

.cp-dark-second {
  color: #616161; }

.cp-dark-third {
  color: #838383; }

.cp-dark-fourth {
  color: #ababab; }

.cp-dark-fifth {
  color: #e1e1e1; }
