.txt-default {
  color: black;
  background-color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  font-size: 1.8rem;
  padding-left: 6px;
  padding-right: 2px;
  transition: all 0.30s ease-in-out;
  outline: none; }
  .txt-default:focus {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    outline: none;
    box-shadow: 0 0 12px black;
    border: none;
    -webkit-box-shadow: 0 0 12px 0 black;
    -moz-box-shadow: 0 0 12px 0 black; }
  .txt-default:focus {
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }

.txt-primary {
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  font-size: 1.8rem;
  padding-left: 6px;
  padding-right: 2px;
  transition: all 0.30s ease-in-out;
  outline: none; }
  .txt-primary:focus {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    outline: none;
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }
  .txt-primary:focus {
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }

.txt-disabled {
  font-style: italic;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  font-size: 1.8rem;
  padding-left: 6px;
  padding-right: 2px;
  transition: all 0.30s ease-in-out;
  outline: none; }
  .txt-disabled:focus {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    outline: none;
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }
  .txt-disabled:focus {
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }

.txt-success {
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  font-size: 1.8rem;
  padding-left: 6px;
  padding-right: 2px;
  transition: all 0.30s ease-in-out;
  outline: none; }
  .txt-success:focus {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    outline: none;
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }
  .txt-success:focus {
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }

.txt-danger {
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  font-size: 1.8rem;
  padding-left: 6px;
  padding-right: 2px;
  transition: all 0.30s ease-in-out;
  outline: none; }
  .txt-danger:focus {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    outline: none;
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }
  .txt-danger:focus {
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }

.txt-warning {
  color: #ff4747;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  font-size: 1.8rem;
  padding-left: 6px;
  padding-right: 2px;
  transition: all 0.30s ease-in-out;
  outline: none; }
  .txt-warning:focus {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    outline: none;
    box-shadow: 0 0 12px #ff4747;
    border: none;
    -webkit-box-shadow: 0 0 12px 0 #ff4747;
    -moz-box-shadow: 0 0 12px 0 #ff4747; }
  .txt-warning:focus {
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }

.txt-info {
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  font-size: 1.8rem;
  padding-left: 6px;
  padding-right: 2px;
  transition: all 0.30s ease-in-out;
  outline: none; }
  .txt-info:focus {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    outline: none;
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }
  .txt-info:focus {
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }

.txt-light {
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  font-size: 1.8rem;
  padding-left: 6px;
  padding-right: 2px;
  transition: all 0.30s ease-in-out;
  outline: none; }
  .txt-light:focus {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    outline: none;
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }
  .txt-light:focus {
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }

.txt-dark {
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  font-size: 1.8rem;
  padding-left: 6px;
  padding-right: 2px;
  transition: all 0.30s ease-in-out;
  outline: none; }
  .txt-dark:focus {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    outline: none;
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }
  .txt-dark:focus {
    box-shadow: 0 0 12px;
    border: none;
    -webkit-box-shadow: 0 0 12px 0;
    -moz-box-shadow: 0 0 12px 0; }

.txt-disabled:hover {
  cursor: default !important; }

[class*="btn-"] {
  padding-left: 20px;
  padding-right: 20px; }
  [class*="btn-"]:hover {
    cursor: pointer;
    opacity: 0.8; }
