.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .bg-cover.fixed {
    background-attachment: fixed; }
  .bg-cover-fixed {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; }

.fixed-top {
  position: fixed;
  top: 0;
  bottom: unset;
  left: 0;
  right: 0; }

.fixed-bottom {
  position: fixed;
  top: unset;
  left: 0;
  right: 0;
  bottom: 0; }

.no-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.hide {
  display: none; }

.block {
  display: block; }

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.o-1 {
  opacity: 1; }

.o-2 {
  opacity: 0.2; }

.o-3 {
  opacity: 0.3; }

.o-4 {
  opacity: 0.4; }

.o-5 {
  opacity: 0.5; }

.o-6 {
  opacity: 0.6; }

.o-7 {
  opacity: 0.7; }

.o-8 {
  opacity: 0.8; }

.o-9 {
  opacity: 0.9; }
