.f-xxs {
  font-size: 1.1rem; }
  .f-xxs.null.xs, .f-xxs-null-xs {
    font-size: 1.1rem;
    margin: 4px; }
  .f-xxs.null.sm, .f-xxs-null-sm {
    font-size: 1.1rem;
    margin: 8px; }
  .f-xxs.null.md, .f-xxs-null-md {
    font-size: 1.1rem;
    margin: 16px; }
  .f-xxs.null.lg, .f-xxs-null-lg {
    font-size: 1.1rem;
    margin: 28px; }
  .f-xxs.null.xl, .f-xxs-null-xl {
    font-size: 1.1rem;
    margin: 44px; }
  .f-xxs.null.xxl, .f-xxs-null-xxl {
    font-size: 1.1rem;
    margin: 62px; }
  .f-xxs.null-xs.bold, .f-xxs-null-xs-bold {
    font-size: 1.1rem;
    margin: 4px; }
  .f-xxs.null-sm.bold, .f-xxs-null-sm-bold {
    font-size: 1.1rem;
    margin: 8px; }
  .f-xxs.null-md.bold, .f-xxs-null-md-bold {
    font-size: 1.1rem;
    margin: 16px; }
  .f-xxs.null-lg.bold, .f-xxs-null-lg-bold {
    font-size: 1.1rem;
    margin: 28px; }
  .f-xxs.null-xl.bold, .f-xxs-null-xl-bold {
    font-size: 1.1rem;
    margin: 44px; }
  .f-xxs.null-xxl.bold, .f-xxs-null-xxl-bold {
    font-size: 1.1rem;
    margin: 62px; }

.f-xs {
  font-size: 1.4rem; }
  .f-xs.null.xs, .f-xs-null-xs {
    font-size: 1.4rem;
    margin: 4px; }
  .f-xs.null.sm, .f-xs-null-sm {
    font-size: 1.4rem;
    margin: 8px; }
  .f-xs.null.md, .f-xs-null-md {
    font-size: 1.4rem;
    margin: 16px; }
  .f-xs.null.lg, .f-xs-null-lg {
    font-size: 1.4rem;
    margin: 28px; }
  .f-xs.null.xl, .f-xs-null-xl {
    font-size: 1.4rem;
    margin: 44px; }
  .f-xs.null.xxl, .f-xs-null-xxl {
    font-size: 1.4rem;
    margin: 62px; }
  .f-xs.null-xs.bold, .f-xs-null-xs-bold {
    font-size: 1.4rem;
    margin: 4px; }
  .f-xs.null-sm.bold, .f-xs-null-sm-bold {
    font-size: 1.4rem;
    margin: 8px; }
  .f-xs.null-md.bold, .f-xs-null-md-bold {
    font-size: 1.4rem;
    margin: 16px; }
  .f-xs.null-lg.bold, .f-xs-null-lg-bold {
    font-size: 1.4rem;
    margin: 28px; }
  .f-xs.null-xl.bold, .f-xs-null-xl-bold {
    font-size: 1.4rem;
    margin: 44px; }
  .f-xs.null-xxl.bold, .f-xs-null-xxl-bold {
    font-size: 1.4rem;
    margin: 62px; }

.f-sm {
  font-size: 1.8rem; }
  .f-sm.null.xs, .f-sm-null-xs {
    font-size: 1.8rem;
    margin: 4px; }
  .f-sm.null.sm, .f-sm-null-sm {
    font-size: 1.8rem;
    margin: 8px; }
  .f-sm.null.md, .f-sm-null-md {
    font-size: 1.8rem;
    margin: 16px; }
  .f-sm.null.lg, .f-sm-null-lg {
    font-size: 1.8rem;
    margin: 28px; }
  .f-sm.null.xl, .f-sm-null-xl {
    font-size: 1.8rem;
    margin: 44px; }
  .f-sm.null.xxl, .f-sm-null-xxl {
    font-size: 1.8rem;
    margin: 62px; }
  .f-sm.null-xs.bold, .f-sm-null-xs-bold {
    font-size: 1.8rem;
    margin: 4px; }
  .f-sm.null-sm.bold, .f-sm-null-sm-bold {
    font-size: 1.8rem;
    margin: 8px; }
  .f-sm.null-md.bold, .f-sm-null-md-bold {
    font-size: 1.8rem;
    margin: 16px; }
  .f-sm.null-lg.bold, .f-sm-null-lg-bold {
    font-size: 1.8rem;
    margin: 28px; }
  .f-sm.null-xl.bold, .f-sm-null-xl-bold {
    font-size: 1.8rem;
    margin: 44px; }
  .f-sm.null-xxl.bold, .f-sm-null-xxl-bold {
    font-size: 1.8rem;
    margin: 62px; }

.f-md {
  font-size: 2.2rem; }
  .f-md.null.xs, .f-md-null-xs {
    font-size: 2.2rem;
    margin: 4px; }
  .f-md.null.sm, .f-md-null-sm {
    font-size: 2.2rem;
    margin: 8px; }
  .f-md.null.md, .f-md-null-md {
    font-size: 2.2rem;
    margin: 16px; }
  .f-md.null.lg, .f-md-null-lg {
    font-size: 2.2rem;
    margin: 28px; }
  .f-md.null.xl, .f-md-null-xl {
    font-size: 2.2rem;
    margin: 44px; }
  .f-md.null.xxl, .f-md-null-xxl {
    font-size: 2.2rem;
    margin: 62px; }
  .f-md.null-xs.bold, .f-md-null-xs-bold {
    font-size: 2.2rem;
    margin: 4px; }
  .f-md.null-sm.bold, .f-md-null-sm-bold {
    font-size: 2.2rem;
    margin: 8px; }
  .f-md.null-md.bold, .f-md-null-md-bold {
    font-size: 2.2rem;
    margin: 16px; }
  .f-md.null-lg.bold, .f-md-null-lg-bold {
    font-size: 2.2rem;
    margin: 28px; }
  .f-md.null-xl.bold, .f-md-null-xl-bold {
    font-size: 2.2rem;
    margin: 44px; }
  .f-md.null-xxl.bold, .f-md-null-xxl-bold {
    font-size: 2.2rem;
    margin: 62px; }

.f-lg {
  font-size: 3rem; }
  .f-lg.null.xs, .f-lg-null-xs {
    font-size: 3rem;
    margin: 4px; }
  .f-lg.null.sm, .f-lg-null-sm {
    font-size: 3rem;
    margin: 8px; }
  .f-lg.null.md, .f-lg-null-md {
    font-size: 3rem;
    margin: 16px; }
  .f-lg.null.lg, .f-lg-null-lg {
    font-size: 3rem;
    margin: 28px; }
  .f-lg.null.xl, .f-lg-null-xl {
    font-size: 3rem;
    margin: 44px; }
  .f-lg.null.xxl, .f-lg-null-xxl {
    font-size: 3rem;
    margin: 62px; }
  .f-lg.null-xs.bold, .f-lg-null-xs-bold {
    font-size: 3rem;
    margin: 4px; }
  .f-lg.null-sm.bold, .f-lg-null-sm-bold {
    font-size: 3rem;
    margin: 8px; }
  .f-lg.null-md.bold, .f-lg-null-md-bold {
    font-size: 3rem;
    margin: 16px; }
  .f-lg.null-lg.bold, .f-lg-null-lg-bold {
    font-size: 3rem;
    margin: 28px; }
  .f-lg.null-xl.bold, .f-lg-null-xl-bold {
    font-size: 3rem;
    margin: 44px; }
  .f-lg.null-xxl.bold, .f-lg-null-xxl-bold {
    font-size: 3rem;
    margin: 62px; }

.f-xl {
  font-size: 4.3rem; }
  .f-xl.null.xs, .f-xl-null-xs {
    font-size: 4.3rem;
    margin: 4px; }
  .f-xl.null.sm, .f-xl-null-sm {
    font-size: 4.3rem;
    margin: 8px; }
  .f-xl.null.md, .f-xl-null-md {
    font-size: 4.3rem;
    margin: 16px; }
  .f-xl.null.lg, .f-xl-null-lg {
    font-size: 4.3rem;
    margin: 28px; }
  .f-xl.null.xl, .f-xl-null-xl {
    font-size: 4.3rem;
    margin: 44px; }
  .f-xl.null.xxl, .f-xl-null-xxl {
    font-size: 4.3rem;
    margin: 62px; }
  .f-xl.null-xs.bold, .f-xl-null-xs-bold {
    font-size: 4.3rem;
    margin: 4px; }
  .f-xl.null-sm.bold, .f-xl-null-sm-bold {
    font-size: 4.3rem;
    margin: 8px; }
  .f-xl.null-md.bold, .f-xl-null-md-bold {
    font-size: 4.3rem;
    margin: 16px; }
  .f-xl.null-lg.bold, .f-xl-null-lg-bold {
    font-size: 4.3rem;
    margin: 28px; }
  .f-xl.null-xl.bold, .f-xl-null-xl-bold {
    font-size: 4.3rem;
    margin: 44px; }
  .f-xl.null-xxl.bold, .f-xl-null-xxl-bold {
    font-size: 4.3rem;
    margin: 62px; }

.f-xxl {
  font-size: 6rem; }
  .f-xxl.null.xs, .f-xxl-null-xs {
    font-size: 6rem;
    margin: 4px; }
  .f-xxl.null.sm, .f-xxl-null-sm {
    font-size: 6rem;
    margin: 8px; }
  .f-xxl.null.md, .f-xxl-null-md {
    font-size: 6rem;
    margin: 16px; }
  .f-xxl.null.lg, .f-xxl-null-lg {
    font-size: 6rem;
    margin: 28px; }
  .f-xxl.null.xl, .f-xxl-null-xl {
    font-size: 6rem;
    margin: 44px; }
  .f-xxl.null.xxl, .f-xxl-null-xxl {
    font-size: 6rem;
    margin: 62px; }
  .f-xxl.null-xs.bold, .f-xxl-null-xs-bold {
    font-size: 6rem;
    margin: 4px; }
  .f-xxl.null-sm.bold, .f-xxl-null-sm-bold {
    font-size: 6rem;
    margin: 8px; }
  .f-xxl.null-md.bold, .f-xxl-null-md-bold {
    font-size: 6rem;
    margin: 16px; }
  .f-xxl.null-lg.bold, .f-xxl-null-lg-bold {
    font-size: 6rem;
    margin: 28px; }
  .f-xxl.null-xl.bold, .f-xxl-null-xl-bold {
    font-size: 6rem;
    margin: 44px; }
  .f-xxl.null-xxl.bold, .f-xxl-null-xxl-bold {
    font-size: 6rem;
    margin: 62px; }

.font-xxs {
  font-size: 0.4rem; }

.font-xs {
  font-size: 0.8rem; }

.font-sm {
  font-size: 1rem; }

.font-md {
  font-size: 1.8rem; }

.font-lg {
  font-size: 23rem; }

.font-xl {
  font-size: 3.6rem; }

.font-xxl {
  font-size: 5.2rem; }
