[class^="show-from-"] {
  display: none; }

.show-sm {
  display: none; }

.hide-sm {
  display: block; }

@media (min-width: 576px) {
  .hide-sm {
    display: none; }
  .show-sm {
    display: block !important; } }

.show-md {
  display: none; }

.hide-md {
  display: block; }

@media (min-width: 768px) {
  .hide-md {
    display: none; }
  .show-md {
    display: block !important; } }

.show-lg {
  display: none; }

.hide-lg {
  display: block; }

@media (min-width: 992px) {
  .hide-lg {
    display: none; }
  .show-lg {
    display: block !important; } }

.show-xl {
  display: none; }

.hide-xl {
  display: block; }

@media (min-width: 1200px) {
  .hide-xl {
    display: none; }
  .show-xl {
    display: block !important; } }
