.h1 {
  font-size: 2.6rem;
  font-weight: normal; }
  .h1-bold {
    font-size: 2.6rem;
    font-weight: bold; }
  .h1-airy-xs {
    font-size: 2.6rem;
    margin: 4px;
    font-weight: normal; }
  .h1-airy-xs-bold {
    font-size: 2.6rem;
    margin: 4px;
    font-weight: bold; }
  .h1-airy-sm {
    font-size: 2.6rem;
    margin: 8px;
    font-weight: normal; }
  .h1-airy-sm-bold {
    font-size: 2.6rem;
    margin: 8px;
    font-weight: bold; }
  .h1-airy-md {
    font-size: 2.6rem;
    margin: 16px;
    font-weight: normal; }
  .h1-airy-md-bold {
    font-size: 2.6rem;
    margin: 16px;
    font-weight: bold; }
  .h1-airy {
    font-size: 2.6rem;
    margin: 16px;
    font-weight: normal; }
    .h1-airy-bold {
      font-size: 2.6rem;
      margin: 16px;
      font-weight: bold; }
  .h1-airy-lg {
    font-size: 2.6rem;
    margin: 28px;
    font-weight: normal; }
  .h1-airy-lg-bold {
    font-size: 2.6rem;
    margin: 28px;
    font-weight: bold; }
  .h1-airy-xl {
    font-size: 2.6rem;
    margin: 44px;
    font-weight: normal; }
  .h1-airy-xl-bold {
    font-size: 2.6rem;
    margin: 44px;
    font-weight: bold; }
  .h1-airy-xxl {
    font-size: 2.6rem;
    margin: 62px;
    font-weight: normal; }
  .h1-airy-xxl-bold {
    font-size: 2.6rem;
    margin: 62px;
    font-weight: bold; }

.h2 {
  font-size: 3.1rem;
  font-weight: normal; }
  .h2-bold {
    font-size: 3.1rem;
    font-weight: bold; }
  .h2-airy-xs {
    font-size: 3.1rem;
    margin: 4px;
    font-weight: normal; }
  .h2-airy-xs-bold {
    font-size: 3.1rem;
    margin: 4px;
    font-weight: bold; }
  .h2-airy-sm {
    font-size: 3.1rem;
    margin: 8px;
    font-weight: normal; }
  .h2-airy-sm-bold {
    font-size: 3.1rem;
    margin: 8px;
    font-weight: bold; }
  .h2-airy-md {
    font-size: 3.1rem;
    margin: 16px;
    font-weight: normal; }
  .h2-airy-md-bold {
    font-size: 3.1rem;
    margin: 16px;
    font-weight: bold; }
  .h2-airy {
    font-size: 3.1rem;
    margin: 16px;
    font-weight: normal; }
    .h2-airy-bold {
      font-size: 3.1rem;
      margin: 16px;
      font-weight: bold; }
  .h2-airy-lg {
    font-size: 3.1rem;
    margin: 28px;
    font-weight: normal; }
  .h2-airy-lg-bold {
    font-size: 3.1rem;
    margin: 28px;
    font-weight: bold; }
  .h2-airy-xl {
    font-size: 3.1rem;
    margin: 44px;
    font-weight: normal; }
  .h2-airy-xl-bold {
    font-size: 3.1rem;
    margin: 44px;
    font-weight: bold; }
  .h2-airy-xxl {
    font-size: 3.1rem;
    margin: 62px;
    font-weight: normal; }
  .h2-airy-xxl-bold {
    font-size: 3.1rem;
    margin: 62px;
    font-weight: bold; }

.h3 {
  font-size: 1.8rem;
  font-weight: normal; }
  .h3-bold {
    font-size: 1.8rem;
    font-weight: bold; }
  .h3-airy-xs {
    font-size: 1.8rem;
    margin: 4px;
    font-weight: normal; }
  .h3-airy-xs-bold {
    font-size: 1.8rem;
    margin: 4px;
    font-weight: bold; }
  .h3-airy-sm {
    font-size: 1.8rem;
    margin: 8px;
    font-weight: normal; }
  .h3-airy-sm-bold {
    font-size: 1.8rem;
    margin: 8px;
    font-weight: bold; }
  .h3-airy-md {
    font-size: 1.8rem;
    margin: 16px;
    font-weight: normal; }
  .h3-airy-md-bold {
    font-size: 1.8rem;
    margin: 16px;
    font-weight: bold; }
  .h3-airy {
    font-size: 1.8rem;
    margin: 16px;
    font-weight: normal; }
    .h3-airy-bold {
      font-size: 1.8rem;
      margin: 16px;
      font-weight: bold; }
  .h3-airy-lg {
    font-size: 1.8rem;
    margin: 28px;
    font-weight: normal; }
  .h3-airy-lg-bold {
    font-size: 1.8rem;
    margin: 28px;
    font-weight: bold; }
  .h3-airy-xl {
    font-size: 1.8rem;
    margin: 44px;
    font-weight: normal; }
  .h3-airy-xl-bold {
    font-size: 1.8rem;
    margin: 44px;
    font-weight: bold; }
  .h3-airy-xxl {
    font-size: 1.8rem;
    margin: 62px;
    font-weight: normal; }
  .h3-airy-xxl-bold {
    font-size: 1.8rem;
    margin: 62px;
    font-weight: bold; }

.h4 {
  font-size: 1.8rem;
  font-weight: normal; }
  .h4-bold {
    font-size: 1.8rem;
    font-weight: bold; }
  .h4-airy-xs {
    font-size: 1.8rem;
    margin: 4px;
    font-weight: normal; }
  .h4-airy-xs-bold {
    font-size: 1.8rem;
    margin: 4px;
    font-weight: bold; }
  .h4-airy-sm {
    font-size: 1.8rem;
    margin: 8px;
    font-weight: normal; }
  .h4-airy-sm-bold {
    font-size: 1.8rem;
    margin: 8px;
    font-weight: bold; }
  .h4-airy-md {
    font-size: 1.8rem;
    margin: 16px;
    font-weight: normal; }
  .h4-airy-md-bold {
    font-size: 1.8rem;
    margin: 16px;
    font-weight: bold; }
  .h4-airy {
    font-size: 1.8rem;
    margin: 16px;
    font-weight: normal; }
    .h4-airy-bold {
      font-size: 1.8rem;
      margin: 16px;
      font-weight: bold; }
  .h4-airy-lg {
    font-size: 1.8rem;
    margin: 28px;
    font-weight: normal; }
  .h4-airy-lg-bold {
    font-size: 1.8rem;
    margin: 28px;
    font-weight: bold; }
  .h4-airy-xl {
    font-size: 1.8rem;
    margin: 44px;
    font-weight: normal; }
  .h4-airy-xl-bold {
    font-size: 1.8rem;
    margin: 44px;
    font-weight: bold; }
  .h4-airy-xxl {
    font-size: 1.8rem;
    margin: 62px;
    font-weight: normal; }
  .h4-airy-xxl-bold {
    font-size: 1.8rem;
    margin: 62px;
    font-weight: bold; }

.h5 {
  font-size: 1.6rem;
  font-weight: normal; }
  .h5-bold {
    font-size: 1.6rem;
    font-weight: bold; }
  .h5-airy-xs {
    font-size: 1.6rem;
    margin: 4px;
    font-weight: normal; }
  .h5-airy-xs-bold {
    font-size: 1.6rem;
    margin: 4px;
    font-weight: bold; }
  .h5-airy-sm {
    font-size: 1.6rem;
    margin: 8px;
    font-weight: normal; }
  .h5-airy-sm-bold {
    font-size: 1.6rem;
    margin: 8px;
    font-weight: bold; }
  .h5-airy-md {
    font-size: 1.6rem;
    margin: 16px;
    font-weight: normal; }
  .h5-airy-md-bold {
    font-size: 1.6rem;
    margin: 16px;
    font-weight: bold; }
  .h5-airy {
    font-size: 1.6rem;
    margin: 16px;
    font-weight: normal; }
    .h5-airy-bold {
      font-size: 1.6rem;
      margin: 16px;
      font-weight: bold; }
  .h5-airy-lg {
    font-size: 1.6rem;
    margin: 28px;
    font-weight: normal; }
  .h5-airy-lg-bold {
    font-size: 1.6rem;
    margin: 28px;
    font-weight: bold; }
  .h5-airy-xl {
    font-size: 1.6rem;
    margin: 44px;
    font-weight: normal; }
  .h5-airy-xl-bold {
    font-size: 1.6rem;
    margin: 44px;
    font-weight: bold; }
  .h5-airy-xxl {
    font-size: 1.6rem;
    margin: 62px;
    font-weight: normal; }
  .h5-airy-xxl-bold {
    font-size: 1.6rem;
    margin: 62px;
    font-weight: bold; }

.h6 {
  font-size: 1.4rem;
  font-weight: normal; }
  .h6-bold {
    font-size: 1.4rem;
    font-weight: bold; }
  .h6-airy-xs {
    font-size: 1.4rem;
    margin: 4px;
    font-weight: normal; }
  .h6-airy-xs-bold {
    font-size: 1.4rem;
    margin: 4px;
    font-weight: bold; }
  .h6-airy-sm {
    font-size: 1.4rem;
    margin: 8px;
    font-weight: normal; }
  .h6-airy-sm-bold {
    font-size: 1.4rem;
    margin: 8px;
    font-weight: bold; }
  .h6-airy-md {
    font-size: 1.4rem;
    margin: 16px;
    font-weight: normal; }
  .h6-airy-md-bold {
    font-size: 1.4rem;
    margin: 16px;
    font-weight: bold; }
  .h6-airy {
    font-size: 1.4rem;
    margin: 16px;
    font-weight: normal; }
    .h6-airy-bold {
      font-size: 1.4rem;
      margin: 16px;
      font-weight: bold; }
  .h6-airy-lg {
    font-size: 1.4rem;
    margin: 28px;
    font-weight: normal; }
  .h6-airy-lg-bold {
    font-size: 1.4rem;
    margin: 28px;
    font-weight: bold; }
  .h6-airy-xl {
    font-size: 1.4rem;
    margin: 44px;
    font-weight: normal; }
  .h6-airy-xl-bold {
    font-size: 1.4rem;
    margin: 44px;
    font-weight: bold; }
  .h6-airy-xxl {
    font-size: 1.4rem;
    margin: 62px;
    font-weight: normal; }
  .h6-airy-xxl-bold {
    font-size: 1.4rem;
    margin: 62px;
    font-weight: bold; }

.h7 {
  font-size: 1.1rem;
  font-weight: normal; }
  .h7-bold {
    font-size: 1.1rem;
    font-weight: bold; }
  .h7-airy-xs {
    font-size: 1.1rem;
    margin: 4px;
    font-weight: normal; }
  .h7-airy-xs-bold {
    font-size: 1.1rem;
    margin: 4px;
    font-weight: bold; }
  .h7-airy-sm {
    font-size: 1.1rem;
    margin: 8px;
    font-weight: normal; }
  .h7-airy-sm-bold {
    font-size: 1.1rem;
    margin: 8px;
    font-weight: bold; }
  .h7-airy-md {
    font-size: 1.1rem;
    margin: 16px;
    font-weight: normal; }
  .h7-airy-md-bold {
    font-size: 1.1rem;
    margin: 16px;
    font-weight: bold; }
  .h7-airy {
    font-size: 1.1rem;
    margin: 16px;
    font-weight: normal; }
    .h7-airy-bold {
      font-size: 1.1rem;
      margin: 16px;
      font-weight: bold; }
  .h7-airy-lg {
    font-size: 1.1rem;
    margin: 28px;
    font-weight: normal; }
  .h7-airy-lg-bold {
    font-size: 1.1rem;
    margin: 28px;
    font-weight: bold; }
  .h7-airy-xl {
    font-size: 1.1rem;
    margin: 44px;
    font-weight: normal; }
  .h7-airy-xl-bold {
    font-size: 1.1rem;
    margin: 44px;
    font-weight: bold; }
  .h7-airy-xxl {
    font-size: 1.1rem;
    margin: 62px;
    font-weight: normal; }
  .h7-airy-xxl-bold {
    font-size: 1.1rem;
    margin: 62px;
    font-weight: bold; }

@media (min-width: 768px) {
  .h1 {
    font-size: 6rem;
    font-weight: normal; }
    .h1-bold {
      font-size: 6rem;
      font-weight: bold; }
    .h1-airy-xs {
      font-size: 6rem;
      margin: 4px;
      font-weight: normal; }
    .h1-airy-xs-bold {
      font-size: 6rem;
      margin: 4px;
      font-weight: bold; }
    .h1-airy-sm {
      font-size: 6rem;
      margin: 8px;
      font-weight: normal; }
    .h1-airy-sm-bold {
      font-size: 6rem;
      margin: 8px;
      font-weight: bold; }
    .h1-airy-md {
      font-size: 6rem;
      margin: 16px;
      font-weight: normal; }
    .h1-airy-md-bold {
      font-size: 6rem;
      margin: 16px;
      font-weight: bold; }
    .h1-airy {
      font-size: 6rem;
      margin: 16px;
      font-weight: normal; }
      .h1-airy-bold {
        font-size: 6rem;
        margin: 16px;
        font-weight: bold; }
    .h1-airy-lg {
      font-size: 6rem;
      margin: 28px;
      font-weight: normal; }
    .h1-airy-lg-bold {
      font-size: 6rem;
      margin: 28px;
      font-weight: bold; }
    .h1-airy-xl {
      font-size: 6rem;
      margin: 44px;
      font-weight: normal; }
    .h1-airy-xl-bold {
      font-size: 6rem;
      margin: 44px;
      font-weight: bold; }
    .h1-airy-xxl {
      font-size: 6rem;
      margin: 62px;
      font-weight: normal; }
    .h1-airy-xxl-bold {
      font-size: 6rem;
      margin: 62px;
      font-weight: bold; }
  .h2 {
    font-size: 4.3rem;
    font-weight: normal; }
    .h2-bold {
      font-size: 4.3rem;
      font-weight: bold; }
    .h2-airy-xs {
      font-size: 4.3rem;
      margin: 4px;
      font-weight: normal; }
    .h2-airy-xs-bold {
      font-size: 4.3rem;
      margin: 4px;
      font-weight: bold; }
    .h2-airy-sm {
      font-size: 4.3rem;
      margin: 8px;
      font-weight: normal; }
    .h2-airy-sm-bold {
      font-size: 4.3rem;
      margin: 8px;
      font-weight: bold; }
    .h2-airy-md {
      font-size: 4.3rem;
      margin: 16px;
      font-weight: normal; }
    .h2-airy-md-bold {
      font-size: 4.3rem;
      margin: 16px;
      font-weight: bold; }
    .h2-airy {
      font-size: 4.3rem;
      margin: 16px;
      font-weight: normal; }
      .h2-airy-bold {
        font-size: 4.3rem;
        margin: 16px;
        font-weight: bold; }
    .h2-airy-lg {
      font-size: 4.3rem;
      margin: 28px;
      font-weight: normal; }
    .h2-airy-lg-bold {
      font-size: 4.3rem;
      margin: 28px;
      font-weight: bold; }
    .h2-airy-xl {
      font-size: 4.3rem;
      margin: 44px;
      font-weight: normal; }
    .h2-airy-xl-bold {
      font-size: 4.3rem;
      margin: 44px;
      font-weight: bold; }
    .h2-airy-xxl {
      font-size: 4.3rem;
      margin: 62px;
      font-weight: normal; }
    .h2-airy-xxl-bold {
      font-size: 4.3rem;
      margin: 62px;
      font-weight: bold; }
  .h3 {
    font-size: 3rem;
    font-weight: normal; }
    .h3-bold {
      font-size: 3rem;
      font-weight: bold; }
    .h3-airy-xs {
      font-size: 3rem;
      margin: 4px;
      font-weight: normal; }
    .h3-airy-xs-bold {
      font-size: 3rem;
      margin: 4px;
      font-weight: bold; }
    .h3-airy-sm {
      font-size: 3rem;
      margin: 8px;
      font-weight: normal; }
    .h3-airy-sm-bold {
      font-size: 3rem;
      margin: 8px;
      font-weight: bold; }
    .h3-airy-md {
      font-size: 3rem;
      margin: 16px;
      font-weight: normal; }
    .h3-airy-md-bold {
      font-size: 3rem;
      margin: 16px;
      font-weight: bold; }
    .h3-airy {
      font-size: 3rem;
      margin: 16px;
      font-weight: normal; }
      .h3-airy-bold {
        font-size: 3rem;
        margin: 16px;
        font-weight: bold; }
    .h3-airy-lg {
      font-size: 3rem;
      margin: 28px;
      font-weight: normal; }
    .h3-airy-lg-bold {
      font-size: 3rem;
      margin: 28px;
      font-weight: bold; }
    .h3-airy-xl {
      font-size: 3rem;
      margin: 44px;
      font-weight: normal; }
    .h3-airy-xl-bold {
      font-size: 3rem;
      margin: 44px;
      font-weight: bold; }
    .h3-airy-xxl {
      font-size: 3rem;
      margin: 62px;
      font-weight: normal; }
    .h3-airy-xxl-bold {
      font-size: 3rem;
      margin: 62px;
      font-weight: bold; }
  .h4 {
    font-size: 2.2rem;
    font-weight: normal; }
    .h4-bold {
      font-size: 2.2rem;
      font-weight: bold; }
    .h4-airy-xs {
      font-size: 2.2rem;
      margin: 4px;
      font-weight: normal; }
    .h4-airy-xs-bold {
      font-size: 2.2rem;
      margin: 4px;
      font-weight: bold; }
    .h4-airy-sm {
      font-size: 2.2rem;
      margin: 8px;
      font-weight: normal; }
    .h4-airy-sm-bold {
      font-size: 2.2rem;
      margin: 8px;
      font-weight: bold; }
    .h4-airy-md {
      font-size: 2.2rem;
      margin: 16px;
      font-weight: normal; }
    .h4-airy-md-bold {
      font-size: 2.2rem;
      margin: 16px;
      font-weight: bold; }
    .h4-airy {
      font-size: 2.2rem;
      margin: 16px;
      font-weight: normal; }
      .h4-airy-bold {
        font-size: 2.2rem;
        margin: 16px;
        font-weight: bold; }
    .h4-airy-lg {
      font-size: 2.2rem;
      margin: 28px;
      font-weight: normal; }
    .h4-airy-lg-bold {
      font-size: 2.2rem;
      margin: 28px;
      font-weight: bold; }
    .h4-airy-xl {
      font-size: 2.2rem;
      margin: 44px;
      font-weight: normal; }
    .h4-airy-xl-bold {
      font-size: 2.2rem;
      margin: 44px;
      font-weight: bold; }
    .h4-airy-xxl {
      font-size: 2.2rem;
      margin: 62px;
      font-weight: normal; }
    .h4-airy-xxl-bold {
      font-size: 2.2rem;
      margin: 62px;
      font-weight: bold; }
  .h5 {
    font-size: 1.8rem;
    font-weight: normal; }
    .h5-bold {
      font-size: 1.8rem;
      font-weight: bold; }
    .h5-airy-xs {
      font-size: 1.8rem;
      margin: 4px;
      font-weight: normal; }
    .h5-airy-xs-bold {
      font-size: 1.8rem;
      margin: 4px;
      font-weight: bold; }
    .h5-airy-sm {
      font-size: 1.8rem;
      margin: 8px;
      font-weight: normal; }
    .h5-airy-sm-bold {
      font-size: 1.8rem;
      margin: 8px;
      font-weight: bold; }
    .h5-airy-md {
      font-size: 1.8rem;
      margin: 16px;
      font-weight: normal; }
    .h5-airy-md-bold {
      font-size: 1.8rem;
      margin: 16px;
      font-weight: bold; }
    .h5-airy {
      font-size: 1.8rem;
      margin: 16px;
      font-weight: normal; }
      .h5-airy-bold {
        font-size: 1.8rem;
        margin: 16px;
        font-weight: bold; }
    .h5-airy-lg {
      font-size: 1.8rem;
      margin: 28px;
      font-weight: normal; }
    .h5-airy-lg-bold {
      font-size: 1.8rem;
      margin: 28px;
      font-weight: bold; }
    .h5-airy-xl {
      font-size: 1.8rem;
      margin: 44px;
      font-weight: normal; }
    .h5-airy-xl-bold {
      font-size: 1.8rem;
      margin: 44px;
      font-weight: bold; }
    .h5-airy-xxl {
      font-size: 1.8rem;
      margin: 62px;
      font-weight: normal; }
    .h5-airy-xxl-bold {
      font-size: 1.8rem;
      margin: 62px;
      font-weight: bold; }
  .h6 {
    font-size: 1.4rem;
    font-weight: normal; }
    .h6-bold {
      font-size: 1.4rem;
      font-weight: bold; }
    .h6-airy-xs {
      font-size: 1.4rem;
      margin: 4px;
      font-weight: normal; }
    .h6-airy-xs-bold {
      font-size: 1.4rem;
      margin: 4px;
      font-weight: bold; }
    .h6-airy-sm {
      font-size: 1.4rem;
      margin: 8px;
      font-weight: normal; }
    .h6-airy-sm-bold {
      font-size: 1.4rem;
      margin: 8px;
      font-weight: bold; }
    .h6-airy-md {
      font-size: 1.4rem;
      margin: 16px;
      font-weight: normal; }
    .h6-airy-md-bold {
      font-size: 1.4rem;
      margin: 16px;
      font-weight: bold; }
    .h6-airy {
      font-size: 1.4rem;
      margin: 16px;
      font-weight: normal; }
      .h6-airy-bold {
        font-size: 1.4rem;
        margin: 16px;
        font-weight: bold; }
    .h6-airy-lg {
      font-size: 1.4rem;
      margin: 28px;
      font-weight: normal; }
    .h6-airy-lg-bold {
      font-size: 1.4rem;
      margin: 28px;
      font-weight: bold; }
    .h6-airy-xl {
      font-size: 1.4rem;
      margin: 44px;
      font-weight: normal; }
    .h6-airy-xl-bold {
      font-size: 1.4rem;
      margin: 44px;
      font-weight: bold; }
    .h6-airy-xxl {
      font-size: 1.4rem;
      margin: 62px;
      font-weight: normal; }
    .h6-airy-xxl-bold {
      font-size: 1.4rem;
      margin: 62px;
      font-weight: bold; }
  .h7 {
    font-size: 1.1rem;
    font-weight: normal; }
    .h7-bold {
      font-size: 1.1rem;
      font-weight: bold; }
    .h7-airy-xs {
      font-size: 1.1rem;
      margin: 4px;
      font-weight: normal; }
    .h7-airy-xs-bold {
      font-size: 1.1rem;
      margin: 4px;
      font-weight: bold; }
    .h7-airy-sm {
      font-size: 1.1rem;
      margin: 8px;
      font-weight: normal; }
    .h7-airy-sm-bold {
      font-size: 1.1rem;
      margin: 8px;
      font-weight: bold; }
    .h7-airy-md {
      font-size: 1.1rem;
      margin: 16px;
      font-weight: normal; }
    .h7-airy-md-bold {
      font-size: 1.1rem;
      margin: 16px;
      font-weight: bold; }
    .h7-airy {
      font-size: 1.1rem;
      margin: 16px;
      font-weight: normal; }
      .h7-airy-bold {
        font-size: 1.1rem;
        margin: 16px;
        font-weight: bold; }
    .h7-airy-lg {
      font-size: 1.1rem;
      margin: 28px;
      font-weight: normal; }
    .h7-airy-lg-bold {
      font-size: 1.1rem;
      margin: 28px;
      font-weight: bold; }
    .h7-airy-xl {
      font-size: 1.1rem;
      margin: 44px;
      font-weight: normal; }
    .h7-airy-xl-bold {
      font-size: 1.1rem;
      margin: 44px;
      font-weight: bold; }
    .h7-airy-xxl {
      font-size: 1.1rem;
      margin: 62px;
      font-weight: normal; }
    .h7-airy-xxl-bold {
      font-size: 1.1rem;
      margin: 62px;
      font-weight: bold; } }
