.table {
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  min-width: 0px;
  max-width: 1366px;
  margin: auto; }
  .table thead {
    padding: 8px;
    font-weight: bold; }
  .table td {
    padding: 8px; }
  .table td:first-child {
    padding-right: 0; }
  .table.clean {
    border: none; }
    .table.clean td {
      border: none; }
  .table.cp-default td {
    border-color: rgba(0, 0, 0, 0.4); }
  .table-default {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-default thead {
      padding: 8px;
      font-weight: bold; }
    .table-default td {
      padding: 8px; }
    .table-default td:first-child {
      padding-right: 0; }
  .table-default-alternate {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-default-alternate thead {
      padding: 8px;
      font-weight: bold; }
    .table-default-alternate td {
      padding: 8px; }
    .table-default-alternate td:first-child {
      padding-right: 0; }
  .table.cp-primary td {
    border-color: rgba(0, 123, 255, 0.4); }
  .table-primary {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-primary thead {
      padding: 8px;
      font-weight: bold; }
    .table-primary td {
      padding: 8px; }
    .table-primary td:first-child {
      padding-right: 0; }
  .table-primary-alternate {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-primary-alternate thead {
      padding: 8px;
      font-weight: bold; }
    .table-primary-alternate td {
      padding: 8px; }
    .table-primary-alternate td:first-child {
      padding-right: 0; }
  .table.cp-disabled td {
    border-color: rgba(149, 149, 149, 0.4); }
  .table-disabled {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-disabled thead {
      padding: 8px;
      font-weight: bold; }
    .table-disabled td {
      padding: 8px; }
    .table-disabled td:first-child {
      padding-right: 0; }
  .table-disabled-alternate {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-disabled-alternate thead {
      padding: 8px;
      font-weight: bold; }
    .table-disabled-alternate td {
      padding: 8px; }
    .table-disabled-alternate td:first-child {
      padding-right: 0; }
  .table.cp-success td {
    border-color: rgba(42, 126, 62, 0.4); }
  .table-success {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-success thead {
      padding: 8px;
      font-weight: bold; }
    .table-success td {
      padding: 8px; }
    .table-success td:first-child {
      padding-right: 0; }
  .table-success-alternate {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-success-alternate thead {
      padding: 8px;
      font-weight: bold; }
    .table-success-alternate td {
      padding: 8px; }
    .table-success-alternate td:first-child {
      padding-right: 0; }
  .table.cp-danger td {
    border-color: rgba(140, 16, 27, 0.4); }
  .table-danger {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-danger thead {
      padding: 8px;
      font-weight: bold; }
    .table-danger td {
      padding: 8px; }
    .table-danger td:first-child {
      padding-right: 0; }
  .table-danger-alternate {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-danger-alternate thead {
      padding: 8px;
      font-weight: bold; }
    .table-danger-alternate td {
      padding: 8px; }
    .table-danger-alternate td:first-child {
      padding-right: 0; }
  .table.cp-warning td {
    border-color: rgba(255, 191, 0, 0.4); }
  .table-warning {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-warning thead {
      padding: 8px;
      font-weight: bold; }
    .table-warning td {
      padding: 8px; }
    .table-warning td:first-child {
      padding-right: 0; }
  .table-warning-alternate {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-warning-alternate thead {
      padding: 8px;
      font-weight: bold; }
    .table-warning-alternate td {
      padding: 8px; }
    .table-warning-alternate td:first-child {
      padding-right: 0; }
  .table.cp-info td {
    border-color: rgba(23, 181, 213, 0.4); }
  .table-info {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-info thead {
      padding: 8px;
      font-weight: bold; }
    .table-info td {
      padding: 8px; }
    .table-info td:first-child {
      padding-right: 0; }
  .table-info-alternate {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-info-alternate thead {
      padding: 8px;
      font-weight: bold; }
    .table-info-alternate td {
      padding: 8px; }
    .table-info-alternate td:first-child {
      padding-right: 0; }
  .table.cp-light td {
    border-color: rgba(190, 190, 190, 0.4); }
  .table.cp-light.alternate tr:nth-child(even), .table.cp-light-light-alternate tr:nth-child(even) {
    background-color: #e8e8e8; }
  .table.cp-light.alternate tr:nth-child(even), .table.cp-light-light-alternate tr:nth-child(even) {
    background-color: #ededed; }
  .table-light {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-light thead {
      padding: 8px;
      font-weight: bold; }
    .table-light td {
      padding: 8px; }
    .table-light td:first-child {
      padding-right: 0; }
    .table-light.alternate tr:nth-child(even) {
      background-color: #e8e8e8; }
  .table-light-alternate {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-light-alternate thead {
      padding: 8px;
      font-weight: bold; }
    .table-light-alternate td {
      padding: 8px; }
    .table-light-alternate td:first-child {
      padding-right: 0; }
    .table-light-alternate.alternate tr:nth-child(even) {
      background-color: #e8e8e8; }
  .table.cp-dark td {
    border-color: rgba(62, 62, 62, 0.4); }
  .table-dark {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-dark thead {
      padding: 8px;
      font-weight: bold; }
    .table-dark td {
      padding: 8px; }
    .table-dark td:first-child {
      padding-right: 0; }
  .table-dark-alternate {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-width: 0px;
    max-width: 1366px;
    margin: auto; }
    .table-dark-alternate thead {
      padding: 8px;
      font-weight: bold; }
    .table-dark-alternate td {
      padding: 8px; }
    .table-dark-alternate td:first-child {
      padding-right: 0; }
  .table.auto, .table-auto {
    display: table;
    margin-left: auto;
    margin-right: auto; }
