.chapter {
  padding: 16px;
  border-radius: 8px;
  margin: 18px; }
  .chapter.cp-default {
    color: black; }
    .chapter.cp-default a {
      color: black; }
      .chapter.cp-default a:hover {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.8); }
    .chapter.cp-default.border-glow {
      box-shadow: 0 0 12px black;
      border: none;
      -webkit-box-shadow: 0 0 12px 0 black;
      -moz-box-shadow: 0 0 12px 0 black; }
    .chapter.cp-default.border-solid {
      border: 2px solid black; }
  .chapter.cp-primary {
    color: #007bff; }
    .chapter.cp-primary a {
      color: #007bff; }
      .chapter.cp-primary a:hover {
        text-decoration: none;
        color: rgba(0, 123, 255, 0.8); }
    .chapter.cp-primary.border-glow {
      box-shadow: 0 0 12px #007bff;
      border: none;
      -webkit-box-shadow: 0 0 12px 0 #007bff;
      -moz-box-shadow: 0 0 12px 0 #007bff; }
    .chapter.cp-primary.border-solid {
      border: 2px solid #007bff; }
  .chapter.cp-disabled {
    color: #959595; }
    .chapter.cp-disabled a {
      color: #959595; }
      .chapter.cp-disabled a:hover {
        text-decoration: none;
        color: rgba(149, 149, 149, 0.8); }
    .chapter.cp-disabled.border-glow {
      box-shadow: 0 0 12px #959595;
      border: none;
      -webkit-box-shadow: 0 0 12px 0 #959595;
      -moz-box-shadow: 0 0 12px 0 #959595; }
    .chapter.cp-disabled.border-solid {
      border: 2px solid #959595; }
  .chapter.cp-success {
    color: #2a7e3e; }
    .chapter.cp-success a {
      color: #2a7e3e; }
      .chapter.cp-success a:hover {
        text-decoration: none;
        color: rgba(42, 126, 62, 0.8); }
    .chapter.cp-success.border-glow {
      box-shadow: 0 0 12px #2a7e3e;
      border: none;
      -webkit-box-shadow: 0 0 12px 0 #2a7e3e;
      -moz-box-shadow: 0 0 12px 0 #2a7e3e; }
    .chapter.cp-success.border-solid {
      border: 2px solid #2a7e3e; }
  .chapter.cp-danger {
    color: #8c101b; }
    .chapter.cp-danger a {
      color: #8c101b; }
      .chapter.cp-danger a:hover {
        text-decoration: none;
        color: rgba(140, 16, 27, 0.8); }
    .chapter.cp-danger.border-glow {
      box-shadow: 0 0 12px #8c101b;
      border: none;
      -webkit-box-shadow: 0 0 12px 0 #8c101b;
      -moz-box-shadow: 0 0 12px 0 #8c101b; }
    .chapter.cp-danger.border-solid {
      border: 2px solid #8c101b; }
  .chapter.cp-warning {
    color: #ffbf00; }
    .chapter.cp-warning a {
      color: #ffbf00; }
      .chapter.cp-warning a:hover {
        text-decoration: none;
        color: rgba(255, 191, 0, 0.8); }
    .chapter.cp-warning.border-glow {
      box-shadow: 0 0 12px #ffbf00;
      border: none;
      -webkit-box-shadow: 0 0 12px 0 #ffbf00;
      -moz-box-shadow: 0 0 12px 0 #ffbf00; }
    .chapter.cp-warning.border-solid {
      border: 2px solid #ffbf00; }
  .chapter.cp-info {
    color: #17b5d5; }
    .chapter.cp-info a {
      color: #17b5d5; }
      .chapter.cp-info a:hover {
        text-decoration: none;
        color: rgba(23, 181, 213, 0.8); }
    .chapter.cp-info.border-glow {
      box-shadow: 0 0 12px #17b5d5;
      border: none;
      -webkit-box-shadow: 0 0 12px 0 #17b5d5;
      -moz-box-shadow: 0 0 12px 0 #17b5d5; }
    .chapter.cp-info.border-solid {
      border: 2px solid #17b5d5; }
  .chapter.cp-light {
    color: #bebebe; }
    .chapter.cp-light a {
      color: #bebebe; }
      .chapter.cp-light a:hover {
        text-decoration: none;
        color: rgba(190, 190, 190, 0.8); }
    .chapter.cp-light.border-glow {
      box-shadow: 0 0 12px #bebebe;
      border: none;
      -webkit-box-shadow: 0 0 12px 0 #bebebe;
      -moz-box-shadow: 0 0 12px 0 #bebebe; }
    .chapter.cp-light.border-solid {
      border: 2px solid #bebebe; }
  .chapter.cp-dark {
    color: #3e3e3e; }
    .chapter.cp-dark a {
      color: #3e3e3e; }
      .chapter.cp-dark a:hover {
        text-decoration: none;
        color: rgba(62, 62, 62, 0.8); }
    .chapter.cp-dark.border-glow {
      box-shadow: 0 0 12px #3e3e3e;
      border: none;
      -webkit-box-shadow: 0 0 12px 0 #3e3e3e;
      -moz-box-shadow: 0 0 12px 0 #3e3e3e; }
    .chapter.cp-dark.border-solid {
      border: 2px solid #3e3e3e; }
  .chapter > .content.pre {
    padding: 16px;
    border-radius: 8px; }
    .chapter > .content.pre > .more.link {
      display: inline-block;
      font-weight: 600; }
      .chapter > .content.pre > .more.link:hover {
        text-decoration: none;
        opacity: 0.8; }
  .chapter > .content.main {
    padding: 16px; }
    .chapter > .content.main.bp-xs {
      display: none; }
    .chapter > .content.main.bp-sm {
      display: none; }
    .chapter > .content.main.bp-md {
      display: none; }
    .chapter > .content.main.bp-lg {
      display: none; }
    .chapter > .content.main.bp-xl {
      display: none; }
  .chapter > .more.wrap {
    display: block; }
