.chapter-default {
  padding: 16px;
  border-radius: 4px;
  margin: 18px;
  color: black; }
  .chapter-default a {
    color: black; }
    .chapter-default a:hover {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.8); }
  .chapter-default.glow {
    box-shadow: 0 0 18px black;
    -webkit-box-shadow: 0 0 18px 0 black;
    -moz-box-shadow: 0 0 18px 0 black;
    border: 2px solid black; }
  .chapter-default.solid {
    border: 2px solid black; }

.chapter-primary {
  padding: 16px;
  border-radius: 4px;
  margin: 18px;
  color: #007bff; }
  .chapter-primary a {
    color: #007bff; }
    .chapter-primary a:hover {
      text-decoration: none;
      color: rgba(0, 123, 255, 0.8); }
  .chapter-primary.glow {
    box-shadow: 0 0 18px #007bff;
    -webkit-box-shadow: 0 0 18px 0 #007bff;
    -moz-box-shadow: 0 0 18px 0 #007bff;
    border: 2px solid #007bff; }
  .chapter-primary.solid {
    border: 2px solid #007bff; }

.chapter-disabled {
  padding: 16px;
  border-radius: 4px;
  margin: 18px;
  color: #959595; }
  .chapter-disabled a {
    color: #959595; }
    .chapter-disabled a:hover {
      text-decoration: none;
      color: rgba(149, 149, 149, 0.8); }
  .chapter-disabled.glow {
    box-shadow: 0 0 18px #959595;
    -webkit-box-shadow: 0 0 18px 0 #959595;
    -moz-box-shadow: 0 0 18px 0 #959595;
    border: 2px solid #959595; }
  .chapter-disabled.solid {
    border: 2px solid #959595; }

.chapter-success {
  padding: 16px;
  border-radius: 4px;
  margin: 18px;
  color: #2a7e3e; }
  .chapter-success a {
    color: #2a7e3e; }
    .chapter-success a:hover {
      text-decoration: none;
      color: rgba(42, 126, 62, 0.8); }
  .chapter-success.glow {
    box-shadow: 0 0 18px #2a7e3e;
    -webkit-box-shadow: 0 0 18px 0 #2a7e3e;
    -moz-box-shadow: 0 0 18px 0 #2a7e3e;
    border: 2px solid #2a7e3e; }
  .chapter-success.solid {
    border: 2px solid #2a7e3e; }

.chapter-danger {
  padding: 16px;
  border-radius: 4px;
  margin: 18px;
  color: #8c101b; }
  .chapter-danger a {
    color: #8c101b; }
    .chapter-danger a:hover {
      text-decoration: none;
      color: rgba(140, 16, 27, 0.8); }
  .chapter-danger.glow {
    box-shadow: 0 0 18px #8c101b;
    -webkit-box-shadow: 0 0 18px 0 #8c101b;
    -moz-box-shadow: 0 0 18px 0 #8c101b;
    border: 2px solid #8c101b; }
  .chapter-danger.solid {
    border: 2px solid #8c101b; }

.chapter-warning {
  padding: 16px;
  border-radius: 4px;
  margin: 18px;
  color: #ffbf00; }
  .chapter-warning a {
    color: #ffbf00; }
    .chapter-warning a:hover {
      text-decoration: none;
      color: rgba(255, 191, 0, 0.8); }
  .chapter-warning.glow {
    box-shadow: 0 0 18px #ffbf00;
    -webkit-box-shadow: 0 0 18px 0 #ffbf00;
    -moz-box-shadow: 0 0 18px 0 #ffbf00;
    border: 2px solid #ffbf00; }
  .chapter-warning.solid {
    border: 2px solid #ffbf00; }

.chapter-info {
  padding: 16px;
  border-radius: 4px;
  margin: 18px;
  color: #17b5d5; }
  .chapter-info a {
    color: #17b5d5; }
    .chapter-info a:hover {
      text-decoration: none;
      color: rgba(23, 181, 213, 0.8); }
  .chapter-info.glow {
    box-shadow: 0 0 18px #17b5d5;
    -webkit-box-shadow: 0 0 18px 0 #17b5d5;
    -moz-box-shadow: 0 0 18px 0 #17b5d5;
    border: 2px solid #17b5d5; }
  .chapter-info.solid {
    border: 2px solid #17b5d5; }

.chapter-light {
  padding: 16px;
  border-radius: 4px;
  margin: 18px;
  color: #bebebe; }
  .chapter-light a {
    color: #bebebe; }
    .chapter-light a:hover {
      text-decoration: none;
      color: rgba(190, 190, 190, 0.8); }
  .chapter-light.glow {
    box-shadow: 0 0 18px #bebebe;
    -webkit-box-shadow: 0 0 18px 0 #bebebe;
    -moz-box-shadow: 0 0 18px 0 #bebebe;
    border: 2px solid #bebebe; }
  .chapter-light.solid {
    border: 2px solid #bebebe; }

.chapter-dark {
  padding: 16px;
  border-radius: 4px;
  margin: 18px;
  color: #3e3e3e; }
  .chapter-dark a {
    color: #3e3e3e; }
    .chapter-dark a:hover {
      text-decoration: none;
      color: rgba(62, 62, 62, 0.8); }
  .chapter-dark.glow {
    box-shadow: 0 0 18px #3e3e3e;
    -webkit-box-shadow: 0 0 18px 0 #3e3e3e;
    -moz-box-shadow: 0 0 18px 0 #3e3e3e;
    border: 2px solid #3e3e3e; }
  .chapter-dark.solid {
    border: 2px solid #3e3e3e; }

.chapter > .content-pre {
  padding: 16px;
  background-color: #e7e7e7;
  border-radius: 4px; }
  .chapter > .content-pre > .more-link {
    display: inline-block;
    font-weight: 600; }
    .chapter > .content-pre > .more-link:hover {
      text-decoration: none;
      opacity: 0.8; }

.chapter > .content-main {
  padding: 16px; }
  .chapter > .content-main-xxs {
    padding: 2px;
    display: none; }
  .chapter > .content-main-xs {
    padding: 4px;
    display: none; }
  .chapter > .content-main-sm {
    padding: 10px;
    display: none; }
  .chapter > .content-main-md {
    padding: 16px;
    display: none; }
  .chapter > .content-main-lg {
    padding: 30px;
    display: none; }
  .chapter > .content-main-xl {
    padding: 54px;
    display: none; }
  .chapter > .content-main-xxl {
    padding: 72px;
    display: none; }

.chapter > .more.wrap {
  display: block; }
