@import "..\\_Shared\\Media";
@import "..\\_Shared\\Function";
@import "..\\_Shared\\Config";

[class^="show-from-"] {
    display: none;
}

@each $name, $val in $mediaBreakpoints {
    @if not (equal($name, XS)) {
        $name: lower($name);

        .show-#{$name} {
            display: none;
        }

        .hide-#{$name} {
            display: block;
        }

        @include media($name) {
            .hide-#{lower($name)} {
                display: none;
            }

            .show-#{lower($name)} {
                display: block !important;
            }

            @each $n, $v in $headSyno {
                .#{"h" + $n + "-" + $name} {
                    font-size: GET(Head, $v) !important;
                }
            }
        }
    }
}