@import "..\\Shared\\Function";
@import "..\\Shared\\Config";

@mixin flexEven($direction: row, $includeAlign: true, $force: false) {
    @if ($force == false) {
        display: flex;
        flex-direction: $direction;
        justify-content: space-around;

        @if ($includeAlign) {
            align-items: stretch;
            align-content: center;
        }

        & > * {
            flex: 1 1 auto;
        }
    }
    @else {
        &-force {
            display: flex !important;
            flex-direction: $direction !important;
            justify-content: space-around !important;

            @if ($includeAlign) {
                align-items: stretch !important;
                align-content: center !important;
            }

            & > * {
                flex: 1 1 auto !important;
            }
        }
    }
}

@mixin EachDevice($index, $inline: false) {
    $tag: null;

    @each $nm, $vl in $mediaDevices {
        $i: indexOf(DeviceMedia, $nm);

        @if ($index > $i) {
            @if (isType($tag, Null)) {
                $tag: &-#{lower($nm)};
            }
            @else {
                $tag: $tag + "-" + #{lower($nm)};
            }

            .#{$tag} {
                display: block;

                &-force {
                    display: block !important;
                }
            }

            .#{$tag}-inline {
                display: inline-block;

                &-force {
                    display: inline-block !important;
                }
            }
        }
    }
}
