@import "..//Shared//ColorProfiles";
@import "..//Shared//Function";

@mixin Foo($type: Default) {
  $name: cp;
  $prop: color;

  @if (equal($type, BG)) {
    $name: cp-bg;
    $prop: background-color;
  }

  .#{$name} {
    @each $id, $map in $CPs {

      @each $name, $color in $map {
        &-#{lower($id)} {
          @if (equal($name, Primary)) {
            #{$prop}: $color;
          } @else {
            &-#{lower($name)} {
              #{$prop}: $color;
            }
          }
        }
      }
    }
  }
}

@include Foo();
@include Foo(BG);
