@import "..\\Shared\\Function";
@import "..\\Shared\\Config";

.grid {
  @each $name, $val in $gridItemSizes {
    $name: lower($name);

    &-#{$name}-fit {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
      grid-template-rows: auto;
    }

    &-#{$name}-fill {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax($val, 1fr));
      grid-template-rows: auto;
    }
  }

  & {
    grid-gap: 12px;

    @each $name, $val in $gridGapSizes {
      &-#{lower($name)} {
        grid-gap: $val;
      }
    }
  }
}
