@import "..\\Shared\\Function";

.grid {
  @each $name, $val in getMap(Grid) {
    $name: str($name);

    &-#{$name}-fit {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
      grid-template-rows: auto;
    }

    &-#{$name}-fill {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax($val, 1fr));
      grid-template-rows: auto;
    }
  }

  & {
    grid-gap: 12px;

    @each $name, $val in getMap(GridGap) {
      &-#{str($name)} {
        grid-gap: $val;
      }
    }
  }
}
