@import "Mixin";
@import "..\\Shared\\Media";
@import "..\\Shared\\Function";
@import "..\\Shared\\Config";

[class^="show-"] {
  display: none;
}

[class^="device-"] {
    display: none;
}

[class^="retina-"] {
    display: none;
}

.hide {
    display: none;

    &-force {
        display: none !important;
    }
}

.show {
  display: block;

  &-force {
      display: block !important;
  }

  &-inline {
    display: inline-block;

    &-force {
        display: inline-block !important;
    }
  }
}

@each $name, $val in $mediaBreakpoints {
  @if not(equal($name, XS)) {
    @include media($name) {
      $name: lower($name);

      .hide-#{$name} {
        display: none;

        &-force {
            display: none !important;
        }
      }

      .show-#{$name} {
        display: block;

        &-force {
            display: block !important;
        }

        &-inline {
          display: inline-block;

          &-force {
              display: inline-block !important;
          }
        }
      }

      @each $n, $v in $headSyno {
        .#{"h" + $n + "-" + $name} {
          font-size: get(Head, $v);
        }
      }
    }
  }
}

@include mediaDevice();
@include mediaRetina();
