@import "..\\Shared\\Function";
@import "..\\Shared\\Mixin";
@import "..\\Shared\\Media";

.pad {
    @include paddingAndMargin(Padding);

    &-doc {
        padding: $defaultPad;

        &-force {
            padding: $defaultPad !important;
        }
    }

    &-clear {
        padding: 0;

        &-force {
            padding: 0 !important;
        }
    }
}

.mrg {
    @include paddingAndMargin(Margin);

    &-clear {
        margin: 0;

        &-force {
            margin: 0 !important;
        }
    }

    &-auto {
        @include autoMargin();
    }
}
