@import "../Function.scss";
@import "../Mixin.scss";

.pad {
    padding: $defaultPad;
}

.mrg {
    margin: getMargin(SM);
}

.pad-mrg-clean {
    @include cleanBase();
}

.pad-clean {
    @include cleanBase(true, false, false);
}

.pad-doc {
    padding: $defaultPad;
}

.mrg {
    &.clean, &-clean {
        @include cleanBase(false, true, false);
    }

    &.auto, &-auto {
        @include autoMargin();
    }
}
