@import "../Function.scss";
@import "../Mixin.scss";

.pad {
    padding: $defaultPad;

    &-clean {
        @include cleanBase(true, false, false);
    }

    &-mrg-clean {
        @include cleanBase();
    }

    &-doc {
        padding: $defaultPad;
    }
}

@each $n, $v in $padValues {
    .#{"pad-" + lower($n)} {
        padding: $v;
    }
}

.mrg {
    margin: getMargin(SM);

    &.clean, &-clean {
        @include cleanBase(false, true, false);
    }

    &.auto, &-auto {
        @include autoMargin();
    }
}
