@import "../Mixin.scss";
@import "../Function.scss";
@import "../MapsAndList.scss";

@each $name, $map in $colorProfiles {
    $name: lower($name);

    .#{getKW(TextBox) + "-" + $name}, .#{getKW(Textarea) + "-" + $name} {
        @include formControlTextbox($name, false, false);
        @include boxGlow($name);

        &-#{getKW(Border)} {
            @include formControlTextbox($name, true);
        }

        &-#{getKW(Shadow)} {
            $clr: lighten(color(Default), 28%);

            @if (equal($name, Dark)) {
                $clr: black;
            }

            @include formControlTextbox($name);
            @include shadow(3px, $clr);
        }

        &.#{getKW(ValidateError)} {
            @include boxGlow(Danger, 18px, true, Danger);
            background-color: lighten(color(Danger), 62%) !important;
        }

        &.#{getKW(ValidatedForm)} {
            @include boxGlow(Success, 14px, true, Success);
            background-color: lighten(color(Success), 54%) !important;
        }
    }

    .#{getKW(Button) + "-" + $name} {
        @include formControlButton($name);

        &-#{getKW(Border)} {
            @include formControlButton($name, true);
        }

        &-#{getKW(Shadow)} {
            @include formControlButton($name);

            @if not (equal($name, Disabled)) {
                @include shadow();
            }
        }
    }
}