@import "ColorProfiles";

$mediaDevices: ( Phone: XS, Tablet: SM, Computer: LG, Screen: XL );
$mediaBreakpoints: ( XS: 0px, SM: 576px, MD: 768px, LG: 992px, XL: 1200px );
$mediaOrientation: ( 0: Any, 1: Portrait, 2: Landscape );
$mediaRetina: ( 1.25: 120dpi, 1.3: 124.8dpi, 1.5: 144dpi, 2: 192dpi );
$padAndMarginValues: ( XXS: 4px, XS: 10px, SM: 16px, MD: 28px, LG: 34px, XL: 42px, XXL: 60px );
$defaultPad: map-get($padAndMarginValues, XS);
$docValues: ( XS: 298px, SM: 444px, MD: 598px, LG: 878px, XL: 1366px );
$airyValues: ( XXS: 4px, XS: 10px, SM: 16px, MD: 24px, LG: 32px, XL: 40px, XXL: 62px );
$defaultDirections: (Left, Top, Right, Bottom);
$padDirections: append($defaultDirections, "LeftRight, TopBottom", comma);
$widthSizes: ( XXS: 26px, XS: 64px, SM: 104px, MD: 232px, LG: 514px, XL: 788px, XXL: 974px, DOC: map-get($docValues, XL) );
$headSizes: ( XXS: 0.8rem, XS: 1rem, SM: 1.4rem, MD: 1.8rem, LG: 2rem, XL: 2.4rem, XXL: 2.8rem );
$headSyno: ( 1: XXL, 2: XL, 3: LG, 4: MD, 5: SM, 6: XS, 7: XXS );
$fontSizes: ( 1: 0.8rem, 2: 1.2rem, 3: 1.8rem, 4: 2.2rem, 5: 2.8rem, 6: 3.4rem, 7: 3.8rem, 8: 4.4rem, 9: 4.8rem, 10: 5.2rem );
$dialogSizes: ( SM: 384px, MD: 622px, LG: 840px, XL: 1024px );
$modalSizes: ( SM: 384px, MD: 622px, LG: 840px );
$commonSizes: (XS, SM, MD, LG, XL);
$commonSizesExtended: (XXS, XS, SM, MD, LG, XL, XXL);
$flexAlignItems: ( Base: baseline, Center: center, End: flex-end, Start: flex-start, Stretch: stretch );
$flexJustifyItems: ( Center: center, End: flex-end, Start: flex-start, Around: space-around, Between: space-between, Evenly: space-evenly );
$flexItemSizes: ( Auto: auto, XXS: 76px, XS: 120px, SM: 200px, MD: 280px, LG: 368px, XL: 498px, XXL: 612px, 10: 10%, 25: 25%, 50: 50%, 75: 75%, 90: 90%, 100: 100% );
$flexItems: ( Resize: 1 1, Shrink: 0 1, Grow: 1 0, Fixed: 0 0 );
$gridItemSizes: ( XS: 8px, SM: 60px, MD: 144px, LG: 366px, XL: 536px, XXL: 768px );
$gridGapSizes: ( XS: 6px, SM: 14px, MD: 1fr );
$notifyStyles: ( Bar, Box );
$notifyPositions: ( Bar: (Top, Bottom), Box: (Top, Bottom, Left, Right) );
$notifyDurations: ( Three, Five, Eight, Fourteen, Twenty, Permanent );
$miscSettings: ( NotifyBoxWidth: 548px, NotifyDefaultPadding: 14px );
$keywords: ( BG-Cover: bg-cover, BG-Repeat-X: bg-repeat-x, BG-Repeat-Y: bg-repeat-y, BG-NoRepeat: bg-norepeat, Font: f, Head: h, Col: col-, Responsive: r, Image: img, Button: btn, AlignVertical: align-vertical, TextBox: txt, Textarea: txt-area, FormControl: frm-control, ValidateError: validate-error, ValidatedForm: form-validated, WhiteSpace: ws, DialogBackgroundColor: white );
$systemValues: ( BorderRadius: 6px, PadBase: map-get($padAndMarginValues, MD), Margin: map-get($padAndMarginValues, XS), Font: map-get($fontSizes, 2), Width: map-get($docValues, MD), BorderWidth: 4px, ModalBackgroundColor: white );
$contentMaxWidth: map-get($widthSizes, DOC);
$defaultMargin: 12px;
$positions: ( Absolute: absolute, Fixed: fixed, Relative: relative, Sticky: sticky, Initial: initial, Inherit: inherit );
$mapIndex: ( Pad: ( Data: $padAndMarginValues ), Dialog: ( Data: $dialogSizes), Width: ( Data: $widthSizes ), Device: ( Data: $mediaDevices ), Media: ( Data: $mediaBreakpoints ), MediaOrientation: ( Data: $mediaOrientation ), MediaRetina: ( Data: $mediaRetina ), Margin: ( Data: $padAndMarginValues ), CP: ( Data: $CPs ), Modal: ( Data: $modalSizes ), Sys: ( Data: $systemValues ), PadDirection: ( Data: $padDirections ), Keyword: ( Data: $keywords ), KW: ( Data: $keywords ), FontSize: ( Data: $fontSizes ), Doc: ( Data: $docValues ), Airy: ( Data: $airyValues ), Head: ( Data: $headSizes ), FlexAlign: ( Data: $flexAlignItems ), FlexJustify: ( Data: $flexJustifyItems ), Grid: ( Data: $gridItemSizes ), GridGap: ( Data: $gridGapSizes ), Common: ( Data: $commonSizes ), SizeExtended: ( Data: $commonSizesExtended ), MiscSettings: ( Data: $miscSettings ), Position: ( Data: $positions ), FlexItem: ( Data: $flexItems ), FlexItemSize: (Data: $flexItemSizes ) );
