@import "Function";

@mixin media($size: MD, $orientation: Any, $mode: Up, $minWidth: null, $maxWidth: null) {
    $size: str($size, Upper);
    $width: getMap(Media, $size);
    $query: null;

    @if ($minWidth) {
        $width: $minWidth;
    }

    @if (equal($mode, UP)) {
        $query: "(min-width: " + $width + ")";
    }
    @else if (equal($mode, DOWN)) {
        $query: "(max-width: " + $width + ")";
    }
    @else if (equal($mode, ONLY)) {
        $query: "(min-width: " + $width + ")";
        $max: null;

        @if ($maxWidth) {
            $max: $maxWidth;
        }
        @else {
            @if (equal($size, XS)) {
                $max: getMap(Media, SM);
            }
            @else if (equal($size, SM)) {
                $max: getMap(Media, MD);
            }
            @else if (equal($size, MD)) {
                $max: getMap(Media, LG);
            }
            @else if (equal($size, LG)) {
                $max: getMap(Media, XL);
            }
        }

        @if ($max) {
            $query: $query + " and (max-width: " + $max + ")";
        }
    }

    @if not (equal($orientation, Any)) {
        $query: $query + " and (orientation: " + str($orientation) + ")";
    }

    @media #{$query} {
        @content;
    }
}
