$systemValues: ( 
    Directions: ( Left, Top, Right, Bottom ), 
    NotifyStyles: ( Bar, Box), 
    DefaultPad: 12px, 
    ButtonHeight: 50px, 
    Transition: all 0.4s ease-in-out, 
    FormControlMargin: 2px, 
    Margin: 10px, 
    Font: 1.6rem, 
    FooterSize: 0.8rem, 
    FooterSizeLarge: 2.2rem, 
    BorderRadius: 6px, 
    BorderWidth: 4px,
    Positions: ( Absolute: absolute, Fixed: fixed, Relative: relative, Sticky: sticky, Initial: initial, Inherit: inherit ),
    Sizes: (XS, SM, MD, LG, XL),
    ExtendedSizes: (XXS, XS, SM, MD, LG, XL, XXL),
    SizeNames: ( XXS: extra-extra-small, XS: extra-small, SM: small, MD: medium, LG: large, XL: extra-large, XXL: extra-extra-large, Full: full));
