@import "Function";
@import "Config";

@mixin media($size: MD, $orientation: Any, $mode: Up) {
    $size: upper($size);
    $s: GET(Media, $size);
    $query: null;

    @if (equal($mode, UP)) {
        $query: "(min-width: " + $s + ")";
    }
    @else if (equal($mode, DOWN)) {
        $query: "(max-width: " + $s + ")";
    }
    @else if (equal($mode, ONLY)) {
        $query: "(min-width: " + $s + ")";
        $max: null;

        @if not (equal($size, XL)) {
            $max: null;
        }
        @else if (equal($size, XS)) {
            $max: SM;
        }
        @else if (equal($size, SM)) {
            $max: MD;
        }
        @else if (equal($size, MD)) {
            $max: LG;
        }
        @else if (equal($size, LG)) {
            $max: XL;
        }

        $query: $query + " and (max-width: " + map-get($mediaBreakpoints, $max) + ")";
    }

    @if not (equal($orientation, Any)) {
        $query: $query + " and (orientation: " + lower($orientation) + ")";
    }

    @media #{$query} {
        @content;
    }
}

//js