.tabs > .tab.default, .tabs > .tabs-group > .tab.default {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		border: 3px solid black;
		border-top: 5px solid black;
		background-color: #a1a1a1;
		margin-left: 7px;
		margin-right: 7px;
		margin-top: 3px;
		margin-bottom: 3px; }
		.tabs > .tab.default.straight, .tabs > .tabs-group > .tab.default.straight {
				border-radius: 0px; }

.tabs > .tab.left, .tabs > .tabs-group > .tab.left {
		justify-self: flex-start; }

.tabs > .tab.center, .tabs > .tabs-group > .tab.center {
		justify-self: center; }

.tabs > .tab.right, .tabs > .tabs-group > .tab.right {
		justify-self: flex-end; }

.tabs > .tab.primary, .tabs > .tabs-group > .tab.primary {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		border: 3px solid #8b480e;
		border-top: 5px solid #8b480e;
		background-color: #d8a77d;
		margin-left: 7px;
		margin-right: 7px;
		margin-top: 3px;
		margin-bottom: 3px; }
		.tabs > .tab.primary.straight, .tabs > .tabs-group > .tab.primary.straight {
				border-radius: 0px; }

.tabs > .tab.left, .tabs > .tabs-group > .tab.left {
		justify-self: flex-start; }

.tabs > .tab.center, .tabs > .tabs-group > .tab.center {
		justify-self: center; }

.tabs > .tab.right, .tabs > .tabs-group > .tab.right {
		justify-self: flex-end; }

.tabs > .tab.success, .tabs > .tabs-group > .tab.success {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		border: 3px solid #195f34;
		border-top: 5px solid #195f34;
		background-color: #4bcc7c;
		margin-left: 7px;
		margin-right: 7px;
		margin-top: 3px;
		margin-bottom: 3px; }
		.tabs > .tab.success.straight, .tabs > .tabs-group > .tab.success.straight {
				border-radius: 0px; }

.tabs > .tab.left, .tabs > .tabs-group > .tab.left {
		justify-self: flex-start; }

.tabs > .tab.center, .tabs > .tabs-group > .tab.center {
		justify-self: center; }

.tabs > .tab.right, .tabs > .tabs-group > .tab.right {
		justify-self: flex-end; }

.tabs > .tab.danger, .tabs > .tabs-group > .tab.danger {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		border: 3px solid #8c101b;
		border-top: 5px solid #8c101b;
		background-color: #ed7781;
		margin-left: 7px;
		margin-right: 7px;
		margin-top: 3px;
		margin-bottom: 3px; }
		.tabs > .tab.danger.straight, .tabs > .tabs-group > .tab.danger.straight {
				border-radius: 0px; }

.tabs > .tab.left, .tabs > .tabs-group > .tab.left {
		justify-self: flex-start; }

.tabs > .tab.center, .tabs > .tabs-group > .tab.center {
		justify-self: center; }

.tabs > .tab.right, .tabs > .tabs-group > .tab.right {
		justify-self: flex-end; }

.tabs > .tab.warning, .tabs > .tabs-group > .tab.warning {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		border: 3px solid #ffbf00;
		border-top: 5px solid #ffbf00;
		background-color: #ffe9a6;
		margin-left: 7px;
		margin-right: 7px;
		margin-top: 3px;
		margin-bottom: 3px; }
		.tabs > .tab.warning.straight, .tabs > .tabs-group > .tab.warning.straight {
				border-radius: 0px; }

.tabs > .tab.left, .tabs > .tabs-group > .tab.left {
		justify-self: flex-start; }

.tabs > .tab.center, .tabs > .tabs-group > .tab.center {
		justify-self: center; }

.tabs > .tab.right, .tabs > .tabs-group > .tab.right {
		justify-self: flex-end; }

.tabs > .tab.info, .tabs > .tabs-group > .tab.info {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		border: 3px solid #2894aa;
		border-top: 5px solid #2894aa;
		background-color: #8bc8d4;
		margin-left: 7px;
		margin-right: 7px;
		margin-top: 3px;
		margin-bottom: 3px; }
		.tabs > .tab.info.straight, .tabs > .tabs-group > .tab.info.straight {
				border-radius: 0px; }

.tabs > .tab.left, .tabs > .tabs-group > .tab.left {
		justify-self: flex-start; }

.tabs > .tab.center, .tabs > .tabs-group > .tab.center {
		justify-self: center; }

.tabs > .tab.right, .tabs > .tabs-group > .tab.right {
		justify-self: flex-end; }

.tabs > .tab.light, .tabs > .tabs-group > .tab.light {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		border: 3px solid #a19b9b;
		border-top: 5px solid #a19b9b;
		background-color: #eae2e2;
		margin-left: 7px;
		margin-right: 7px;
		margin-top: 3px;
		margin-bottom: 3px; }
		.tabs > .tab.light.straight, .tabs > .tabs-group > .tab.light.straight {
				border-radius: 0px; }

.tabs > .tab.left, .tabs > .tabs-group > .tab.left {
		justify-self: flex-start; }

.tabs > .tab.center, .tabs > .tabs-group > .tab.center {
		justify-self: center; }

.tabs > .tab.right, .tabs > .tabs-group > .tab.right {
		justify-self: flex-end; }

.tabs > .tab.dark, .tabs > .tabs-group > .tab.dark {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		border: 3px solid #161616;
		border-top: 5px solid #161616;
		background-color: #606060;
		margin-left: 7px;
		margin-right: 7px;
		margin-top: 3px;
		margin-bottom: 3px; }
		.tabs > .tab.dark.straight, .tabs > .tabs-group > .tab.dark.straight {
				border-radius: 0px; }

.tabs > .tab.left, .tabs > .tabs-group > .tab.left {
		justify-self: flex-start; }

.tabs > .tab.center, .tabs > .tabs-group > .tab.center {
		justify-self: center; }

.tabs > .tab.right, .tabs > .tabs-group > .tab.right {
		justify-self: flex-end; }

.tabs > .tab.antan, .tabs > .tabs-group > .tab.antan {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		border: 3px solid #fe2f00;
		border-top: 5px solid #fe2f00;
		background-color: #a76e62;
		margin-left: 7px;
		margin-right: 7px;
		margin-top: 3px;
		margin-bottom: 3px; }
		.tabs > .tab.antan.straight, .tabs > .tabs-group > .tab.antan.straight {
				border-radius: 0px; }

.tabs > .tab.left, .tabs > .tabs-group > .tab.left {
		justify-self: flex-start; }

.tabs > .tab.center, .tabs > .tabs-group > .tab.center {
		justify-self: center; }

.tabs > .tab.right, .tabs > .tabs-group > .tab.right {
		justify-self: flex-end; }

.tabs > .tab.notify, .tabs > .tabs-group > .tab.notify {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		border: 3px solid #07294e;
		border-top: 5px solid #07294e;
		background-color: #7b9abd;
		margin-left: 7px;
		margin-right: 7px;
		margin-top: 3px;
		margin-bottom: 3px; }
		.tabs > .tab.notify.straight, .tabs > .tabs-group > .tab.notify.straight {
				border-radius: 0px; }

.tabs > .tab.left, .tabs > .tabs-group > .tab.left {
		justify-self: flex-start; }

.tabs > .tab.center, .tabs > .tabs-group > .tab.center {
		justify-self: center; }

.tabs > .tab.right, .tabs > .tabs-group > .tab.right {
		justify-self: flex-end; }

.tabs > .tab.funk, .tabs > .tabs-group > .tab.funk {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		border: 3px solid #165992;
		border-top: 5px solid #165992;
		background-color: #61b2f7;
		margin-left: 7px;
		margin-right: 7px;
		margin-top: 3px;
		margin-bottom: 3px; }
		.tabs > .tab.funk.straight, .tabs > .tabs-group > .tab.funk.straight {
				border-radius: 0px; }

.tabs > .tab.left, .tabs > .tabs-group > .tab.left {
		justify-self: flex-start; }

.tabs > .tab.center, .tabs > .tabs-group > .tab.center {
		justify-self: center; }

.tabs > .tab.right, .tabs > .tabs-group > .tab.right {
		justify-self: flex-end; }

.tabs-group {
		display: flex;
		align-items: flex-end; }
		.tabs-group, .tabs-group.left {
				justify-self: flex-start; }
		.tabs-group.center {
				justify-self: center; }
		.tabs-group.right {
				justify-self: flex-end; }

.tabs.default {
		background-color: #484848; }

.tabs-content.default {
		border: 2px solid;
		padding: 15px;
		background-color: white; }

.tabs.primary {
		background-color: #cc8c55; }

.tabs-content.primary {
		border: 2px solid;
		padding: 15px;
		background-color: white; }

.tabs.success {
		background-color: #2eac5e; }

.tabs-content.success {
		border: 2px solid;
		padding: 15px;
		background-color: white; }

.tabs.danger {
		background-color: #ca5660; }

.tabs-content.danger {
		border: 2px solid;
		padding: 15px;
		background-color: white; }

.tabs.warning {
		background-color: #ffde7b; }

.tabs-content.warning {
		border: 2px solid;
		padding: 15px;
		background-color: white; }

.tabs.info {
		background-color: #68b7c7; }

.tabs-content.info {
		border: 2px solid;
		padding: 15px;
		background-color: white; }

.tabs.light {
		background-color: #dbd4d4; }

.tabs-content.light {
		border: 2px solid;
		padding: 15px;
		background-color: white; }

.tabs.dark {
		background-color: #3c3c3c; }

.tabs-content.dark {
		border: 2px solid;
		padding: 15px;
		background-color: white; }

.tabs.antan {
		background-color: #c66b57; }

.tabs-content.antan {
		border: 2px solid;
		padding: 15px;
		background-color: white; }

.tabs.notify {
		background-color: #466a92; }

.tabs-content.notify {
		border: 2px solid;
		padding: 15px;
		background-color: white; }

.tabs.funk {
		background-color: #1e92f4; }

.tabs-content.funk {
		border: 2px solid;
		padding: 15px;
		background-color: white; }

/*# sourceMappingURL=Element.Tabs.css.map */