.tabs {
		width: 100%; }

.tabs > .group > .tab {
		margin-top: 4px;
		padding-left: 14px;
		padding-right: 14px;
		font-size: 1.4rem; }
		.tabs > .group > .tab:hover {
				cursor: pointer;
				opacity: 0.8; }
		.tabs > .group > .tab.cp-default {
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
				border: 3px solid black;
				border-top: 5px solid black;
				background-color: #a1a1a1;
				color: black; }
				.tabs > .group > .tab.cp-default.straight {
						border-radius: 0px; }
		.tabs > .group > .tab.cp-primary {
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
				border: 3px solid #8b480e;
				border-top: 5px solid #8b480e;
				background-color: #d8a77d;
				color: #8b480e; }
				.tabs > .group > .tab.cp-primary.straight {
						border-radius: 0px; }
		.tabs > .group > .tab.cp-success {
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
				border: 3px solid #195f34;
				border-top: 5px solid #195f34;
				background-color: #4bcc7c;
				color: #195f34; }
				.tabs > .group > .tab.cp-success.straight {
						border-radius: 0px; }
		.tabs > .group > .tab.cp-danger {
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
				border: 3px solid #8c101b;
				border-top: 5px solid #8c101b;
				background-color: #ed7781;
				color: #8c101b; }
				.tabs > .group > .tab.cp-danger.straight {
						border-radius: 0px; }
		.tabs > .group > .tab.cp-warning {
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
				border: 3px solid #ffbf00;
				border-top: 5px solid #ffbf00;
				background-color: #ffe9a6;
				color: #ffbf00; }
				.tabs > .group > .tab.cp-warning.straight {
						border-radius: 0px; }
		.tabs > .group > .tab.cp-info {
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
				border: 3px solid #2894aa;
				border-top: 5px solid #2894aa;
				background-color: #8bc8d4;
				color: #2894aa; }
				.tabs > .group > .tab.cp-info.straight {
						border-radius: 0px; }
		.tabs > .group > .tab.cp-light {
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
				border: 3px solid #a19b9b;
				border-top: 5px solid #a19b9b;
				background-color: #eae2e2;
				color: #a19b9b; }
				.tabs > .group > .tab.cp-light.straight {
						border-radius: 0px; }
		.tabs > .group > .tab.cp-dark {
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
				border: 3px solid #161616;
				border-top: 5px solid #161616;
				background-color: #606060;
				color: #161616; }
				.tabs > .group > .tab.cp-dark.straight {
						border-radius: 0px; }
		.tabs > .group > .tab.cp-antan {
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
				border: 3px solid #fe2f00;
				border-top: 5px solid #fe2f00;
				background-color: #a76e62;
				color: #fe2f00; }
				.tabs > .group > .tab.cp-antan.straight {
						border-radius: 0px; }
		.tabs > .group > .tab.cp-notify {
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
				border: 3px solid #07294e;
				border-top: 5px solid #07294e;
				background-color: #7b9abd;
				color: #07294e; }
				.tabs > .group > .tab.cp-notify.straight {
						border-radius: 0px; }
		.tabs > .group > .tab.cp-funk {
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
				border: 3px solid #165992;
				border-top: 5px solid #165992;
				background-color: #61b2f7;
				color: #165992; }
				.tabs > .group > .tab.cp-funk.straight {
						border-radius: 0px; }
		.tabs > .group > .tab.left {
				justify-self: flex-start; }
		.tabs > .group > .tab.center {
				justify-self: center; }
		.tabs > .group > .tab.right {
				justify-self: flex-end; }
		.tabs > .group > .tab.active {
				border-top-width: 10px; }

.tabs > .group {
		display: flex;
		align-items: flex-end; }
		.tabs > .group, .tabs > .group.left {
				justify-content: flex-start; }
		.tabs > .group.center {
				justify-content: center; }
		.tabs > .group.right {
				justify-content: flex-end; }

.tabs > .content {
		display: none;
		visibility: hidden;
		padding: 6px; }
		.tabs > .content.active {
				display: block;
				visibility: visible; }
		.tabs > .content.cp-default {
				border: 2px solid black;
				background-color: white; }
		.tabs > .content.cp-primary {
				border: 2px solid #8b480e;
				background-color: white; }
		.tabs > .content.cp-success {
				border: 2px solid #195f34;
				background-color: white; }
		.tabs > .content.cp-danger {
				border: 2px solid #8c101b;
				background-color: white; }
		.tabs > .content.cp-warning {
				border: 2px solid #ffbf00;
				background-color: white; }
		.tabs > .content.cp-info {
				border: 2px solid #2894aa;
				background-color: white; }
		.tabs > .content.cp-light {
				border: 2px solid #a19b9b;
				background-color: white; }
		.tabs > .content.cp-dark {
				border: 2px solid #161616;
				background-color: white; }
		.tabs > .content.cp-antan {
				border: 2px solid #fe2f00;
				background-color: white; }
		.tabs > .content.cp-notify {
				border: 2px solid #07294e;
				background-color: white; }
		.tabs > .content.cp-funk {
				border: 2px solid #165992;
				background-color: white; }

/*# sourceMappingURL=Element.Tabs.css.map */