.h1 {
  font-size: 2.8rem; }
  .h1.bold {
    font-weight: bold; }
  .h1.airy {
    padding: 10px; }

.h2 {
  font-size: 2.4rem; }
  .h2.bold {
    font-weight: bold; }
  .h2.airy {
    padding: 10px; }

.h3 {
  font-size: 2rem; }
  .h3.bold {
    font-weight: bold; }
  .h3.airy {
    padding: 10px; }

.h4 {
  font-size: 1.8rem; }
  .h4.bold {
    font-weight: bold; }
  .h4.airy {
    padding: 10px; }

.h5 {
  font-size: 1.4rem; }
  .h5.bold {
    font-weight: bold; }
  .h5.airy {
    padding: 10px; }

.h6 {
  font-size: 1rem; }
  .h6.bold {
    font-weight: bold; }
  .h6.airy {
    padding: 10px; }

.h7 {
  font-size: 0.8rem; }
  .h7.bold {
    font-weight: bold; }
  .h7.airy {
    padding: 10px; }

.f-1 {
  font-size: 0.8rem; }

@media (min-width: 0px) {
  .f-1-xs {
    font-size: 0.8rem; } }

@media (min-width: 576px) {
  .f-1-sm {
    font-size: 0.8rem; } }

@media (min-width: 768px) {
  .f-1-md {
    font-size: 0.8rem; } }

@media (min-width: 992px) {
  .f-1-lg {
    font-size: 0.8rem; } }

@media (min-width: 1200px) {
  .f-1-xl {
    font-size: 0.8rem; } }

.f-2 {
  font-size: 1.2rem; }

@media (min-width: 0px) {
  .f-2-xs {
    font-size: 1.2rem; } }

@media (min-width: 576px) {
  .f-2-sm {
    font-size: 1.2rem; } }

@media (min-width: 768px) {
  .f-2-md {
    font-size: 1.2rem; } }

@media (min-width: 992px) {
  .f-2-lg {
    font-size: 1.2rem; } }

@media (min-width: 1200px) {
  .f-2-xl {
    font-size: 1.2rem; } }

.f-3 {
  font-size: 1.8rem; }

@media (min-width: 0px) {
  .f-3-xs {
    font-size: 1.8rem; } }

@media (min-width: 576px) {
  .f-3-sm {
    font-size: 1.8rem; } }

@media (min-width: 768px) {
  .f-3-md {
    font-size: 1.8rem; } }

@media (min-width: 992px) {
  .f-3-lg {
    font-size: 1.8rem; } }

@media (min-width: 1200px) {
  .f-3-xl {
    font-size: 1.8rem; } }

.f-4 {
  font-size: 2.2rem; }

@media (min-width: 0px) {
  .f-4-xs {
    font-size: 2.2rem; } }

@media (min-width: 576px) {
  .f-4-sm {
    font-size: 2.2rem; } }

@media (min-width: 768px) {
  .f-4-md {
    font-size: 2.2rem; } }

@media (min-width: 992px) {
  .f-4-lg {
    font-size: 2.2rem; } }

@media (min-width: 1200px) {
  .f-4-xl {
    font-size: 2.2rem; } }

.f-5 {
  font-size: 2.8rem; }

@media (min-width: 0px) {
  .f-5-xs {
    font-size: 2.8rem; } }

@media (min-width: 576px) {
  .f-5-sm {
    font-size: 2.8rem; } }

@media (min-width: 768px) {
  .f-5-md {
    font-size: 2.8rem; } }

@media (min-width: 992px) {
  .f-5-lg {
    font-size: 2.8rem; } }

@media (min-width: 1200px) {
  .f-5-xl {
    font-size: 2.8rem; } }

.f-6 {
  font-size: 3.4rem; }

@media (min-width: 0px) {
  .f-6-xs {
    font-size: 3.4rem; } }

@media (min-width: 576px) {
  .f-6-sm {
    font-size: 3.4rem; } }

@media (min-width: 768px) {
  .f-6-md {
    font-size: 3.4rem; } }

@media (min-width: 992px) {
  .f-6-lg {
    font-size: 3.4rem; } }

@media (min-width: 1200px) {
  .f-6-xl {
    font-size: 3.4rem; } }

.f-7 {
  font-size: 3.8rem; }

@media (min-width: 0px) {
  .f-7-xs {
    font-size: 3.8rem; } }

@media (min-width: 576px) {
  .f-7-sm {
    font-size: 3.8rem; } }

@media (min-width: 768px) {
  .f-7-md {
    font-size: 3.8rem; } }

@media (min-width: 992px) {
  .f-7-lg {
    font-size: 3.8rem; } }

@media (min-width: 1200px) {
  .f-7-xl {
    font-size: 3.8rem; } }

.f-8 {
  font-size: 4.4rem; }

@media (min-width: 0px) {
  .f-8-xs {
    font-size: 4.4rem; } }

@media (min-width: 576px) {
  .f-8-sm {
    font-size: 4.4rem; } }

@media (min-width: 768px) {
  .f-8-md {
    font-size: 4.4rem; } }

@media (min-width: 992px) {
  .f-8-lg {
    font-size: 4.4rem; } }

@media (min-width: 1200px) {
  .f-8-xl {
    font-size: 4.4rem; } }

.f-9 {
  font-size: 4.8rem; }

@media (min-width: 0px) {
  .f-9-xs {
    font-size: 4.8rem; } }

@media (min-width: 576px) {
  .f-9-sm {
    font-size: 4.8rem; } }

@media (min-width: 768px) {
  .f-9-md {
    font-size: 4.8rem; } }

@media (min-width: 992px) {
  .f-9-lg {
    font-size: 4.8rem; } }

@media (min-width: 1200px) {
  .f-9-xl {
    font-size: 4.8rem; } }

.f-10 {
  font-size: 5.2rem; }

@media (min-width: 0px) {
  .f-10-xs {
    font-size: 5.2rem; } }

@media (min-width: 576px) {
  .f-10-sm {
    font-size: 5.2rem; } }

@media (min-width: 768px) {
  .f-10-md {
    font-size: 5.2rem; } }

@media (min-width: 992px) {
  .f-10-lg {
    font-size: 5.2rem; } }

@media (min-width: 1200px) {
  .f-10-xl {
    font-size: 5.2rem; } }
