@-webkit-keyframes fadeIn {
		0% {
				opacity: 0; }
		100% {
				opacity: 1;
				visibility: visible; } }

@keyframes fadeIn {
		0% {
				opacity: 0; }
		100% {
				opacity: 1;
				visibility: visible; } }

@-webkit-keyframes fadeOut {
		0% {
				opacity: 1; }
		100% {
				opacity: 0;
				visibility: hidden; } }

@keyframes fadeOut {
		0% {
				opacity: 1; }
		100% {
				opacity: 0;
				visibility: hidden; } }

@-webkit-keyframes slideIn {
		0% {
				-webkit-transform: translateY(-1000px);
				transform: translateY(-1000px);
				opacity: 0; }
		100% {
				-webkit-transform: translateY(0);
				transform: translateY(0);
				opacity: 1;
				visibility: visible; } }

@keyframes slideIn {
		0% {
				-webkit-transform: translateY(-1000px);
				transform: translateY(-1000px);
				opacity: 0; }
		100% {
				-webkit-transform: translateY(0);
				transform: translateY(0);
				opacity: 1;
				visibility: visible; } }

@-webkit-keyframes scaleIn {
		0% {
				-webkit-transform: scale(2);
				transform: scale(2);
				-webkit-filter: blur(4px);
				filter: blur(4px);
				opacity: 0; }
		100% {
				-webkit-transform: scale(1);
				transform: scale(1);
				-webkit-filter: blur(0px);
				filter: blur(0px);
				opacity: 1;
				visibility: visible; } }

@keyframes scaleIn {
		0% {
				-webkit-transform: scale(2);
				transform: scale(2);
				-webkit-filter: blur(4px);
				filter: blur(4px);
				opacity: 0; }
		100% {
				-webkit-transform: scale(1);
				transform: scale(1);
				-webkit-filter: blur(0px);
				filter: blur(0px);
				opacity: 1;
				visibility: visible; } }

@-webkit-keyframes slideOut {
		0% {
				-webkit-transform: translateY(0);
				transform: translateY(0);
				opacity: 1; }
		100% {
				-webkit-transform: translateY(-1000px);
				transform: translateY(-1000px);
				opacity: 0;
				visibility: hidden; } }

@keyframes slideOut {
		0% {
				-webkit-transform: translateY(0);
				transform: translateY(0);
				opacity: 1; }
		100% {
				-webkit-transform: translateY(-1000px);
				transform: translateY(-1000px);
				opacity: 0;
				visibility: hidden; } }

.fadeIn {
		animation: fadeIn 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
		-webkit-animation: fadeIn 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

.fadeOut {
		animation: fadeOut 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
		-webkit-animation: fadeOut 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

.slideIn {
		-webkit-animation: slideIn 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		animation: slideIn 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.slideOut {
		-webkit-animation: slideOut 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
		animation: slideOut 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

.scaleIn {
		-webkit-animation: scaleIn 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
		animation: scaleIn 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }

.zoomHover:hover {
		transition: all 0.3s ease-in-out;
		transform: scale(1.2); }

.pointerHover:hover {
		cursor: pointer; }

/*# sourceMappingURL=Layout.Effects.css.map */