@import "..//Shared//Mixin";
@import "../Shared/ColorProfiles";
@import "..//Shared//Function";

@mixin notifyBase($style, $color, $position) {
  $width: unset;
  $height: auto;
  $minHeight: unset;
  $pad: get(MiscSettings, NotifyDefaultPadding);
  $borderRadiusTop: unset;
  $borderRadiusBottom: unset;

  @if (equal($style, Bar)) {
    $width: 100%;
    $minHeight: 374px;
  } @else if (equal($style, Box)) {
    $width: get(MiscSettings, NotifyBoxWidth);
    $minHeight: 298px;
  } @else if (equal($style, Circle)) {
    $width: 646px;
    $height: 640px;
    $minHeight: 640px;
  }

  $backColor: color($color);
  $foreColor: color($color, Fifth);

  @if (equal($color, Light)) {
    $foreColor: #2b2b2b;
  }

  $top: unset;
  $bottom: unset;
  $left: unset;
  $right: unset;

  @if (equal($style, Bar)) {
    $left: 0;
    $right: 0;

    @if (equalMulti($position, Top, LeftTop, CenterTop, RightTop)) {
      $top: 0;
    } @else if (equalMulti($position, Middle, LeftMiddle, CenterMiddle, RightMiddle)) {
      $top: 44%;
    } @else if (equalMulti($position, Bottom, LeftBottom, CenterBottom, RightBottom)) {
      $bottom: 0;
    }
  } @else if (equalMulti($style, Box, Circle)) {
    @if (equal($position, Top)) {
      $top: 0;

      @include absoluteCenter;
    } @else if (equal($position, Middle)) {
      $top: 40%;

      @include absoluteCenter;
    } @else if (equal($position, Bottom)) {
      $left: 0;
      $bottom: 0;

      @include absoluteCenter;
    } @else if (equal($position, CenterTop)) {
      $top: 0;

      @include absoluteCenter;
    } @else if (equal($position, CenterMiddle)) {
      $top: 40%;

      @include absoluteCenter;
    } @else if (equal($position, CenterBottom)) {
      $bottom: 0;

      @include absoluteCenter;
    } @else if (equal($position, LeftMiddle)) {
      $left: 0;

      @include absoluteCenter;
    } @else if (equal($position, LeftBottom)) {
      $bottom: 0;
      $left: 0;
    } @else if (equal($position, RightTop)) {
      $top: 0;
      $right: 0;
    } @else if (equal($position, RightMiddle)) {
      $right: 0;

      @include absoluteCenter;
    } @else if (equal($position, RightTop)) {
      $right: 0;
      $bottom: 0;
    }
  }

  background-color: $backColor;
  bottom: $bottom;
  color: $foreColor;
  left: $left;
  right: $right;
  top: $top;
  border-top-left-radius: $borderRadiusTop;
  border-top-right-radius: $borderRadiusTop;
  border-bottom-left-radius: $borderRadiusBottom;
  border-bottom-right-radius: $borderRadiusBottom;
}
