@import "..\\Shared\\Mixin";
@import "..\\Shared\\Config";
@import "..\\Shared\\Function";

@each $cp, $c in $CPs {
  @each $sizeName, $size in $modalSizes {
    $colorTitle: color($cp);
    $closeIconColor: #800505;

    .#{"modal-" + lower($cp) + "-" + lower($sizeName)} {
      @include modal($sizeName, $cp);

      & > content {
        & > header {
          @include modalHeader($cp);

          & > span.title {
            flex: 1 1 auto;
            color: $colorTitle;
            font-size: 1rem;
            font-weight: 600;

            @include noOverflow();
          }

          & > .hide-modal {
            flex: 0 0 26px;

            & > .icon {
              color: $closeIconColor;
              margin: 4px;
              font-size: 1.1rem;

              &:hover {
                color: lighten($closeIconColor, 8%);
              }
            }
          }
        }

        & > .body {
          @include modalBody();
        }
      }
    }
  }
}

#modalBackground {
  display: none;
  background-color: rgba(black, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 98;
}
