@import "..\\Shared\\ColorProfiles";
@import "..\\Shared\\ColorFunction";

.tabs {
    width: 100%;
}

.tabs > .group > .tab {
    $pad: 14px;

    margin-top: 4px;
    padding-left: $pad;
    padding-right: $pad;
    font-size: 1.4rem;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    @each $cp, $colors in $CPs {
        &.cp-#{to-lower-case($cp)} {
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            border: 3px solid color($cp, Primary);
            border-top: 5px solid color($cp, Primary);
            background-color: color($cp, Fourth);
            color: color($cp, Primary);

            &.straight {
                border-radius: 0px;
            }
        }
    }

    &.left {
        justify-self: flex-start;
    }

    &.center {
        justify-self: center;
    }

    &.right {
        justify-self: flex-end;
    }

    &.active {
        border-top-width: 10px;
    }
}

.tabs > .group {
    display: flex;
    align-items: flex-end;

    &, &.left {
        justify-content: flex-start;
    }

    &.center {
        justify-content: center;
    }

    &.right {
        justify-content: flex-end;
    }
}

.tabs > .content {
    display: none;
    visibility: hidden;
    padding: 6px;

    &.active {
        display: block;
        visibility: visible;
    }

    @each $cp, $colors in $CPs {
        &.cp-#{to-lower-case($cp)} {
            border: 2px solid color($cp, First);
            background-color: white;
        }
    }
}
