@import "../MapsAndList.scss";
@import "../Function.scss";
@import "../Mixin.scss";

.chapter {
    @each $name, $val in $colorProfiles {
        &-#{lower($name)} {
            $borderColor: getMapVal($val, Primary);
            $color: $borderColor;

            padding: $defaultPad;
            border-radius: getSys(BorderRadius);
            margin: $defaultMargin;
            color: $color;

            & a {
                color: $color;

                &:hover {
                    text-decoration: none;
                    color: rgba($color, 0.8);
                }
            }

            &.glow {
                @include boxGlow($name, 18px, true, $name);
            }

            &.solid {
                border: 2px solid $borderColor;
            }
        }
    }

    & > .content {
        &-pre {
            padding: $defaultPad;
            background-color: color(Light, Third);
            border-radius: getSys(BorderRadius);

            & > .more-link {
                display: inline-block;
                font-weight: 600;

                &:hover {
                    text-decoration: none;
                    opacity: 0.8;
                }
            }
        }

        &-main {
            @each $s in $extendedSizes {
                $p: getPadding($s);

                &-#{lower($s)} {
                    padding: $p;
                    display: none;
                }

                @if (equal($s, MD)) {
                    padding: $p;
                }
            }
        }
    }

    & > .more.wrap {
        display: block;
    }
}